{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div class="page-header">
        <div class="container">
            <h2 class="color3">FORUM</h2>
            <ul class="breadcrumb">
                <li class="color3">
                    <a href="{{ path('myCourses') }}" class="label label-info">{{ forum.cours.discipline.nom }}</a>
                    >
                    <a href="{{ path('oneCours', {id: forum.cours.id, mode: 'etu'}) }}" class="label label-info">{{ forum.cours.nom }}</a>
                    >
                    <a href="{{ path('forum', {id: forum.id}) }}" class="label label-info">{{ forum.nom }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <script type="text/javascript" src="{{ asset('vendors/tablesorter/dist/js/jquery.tablesorter.min.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            $(".sujetsTable").tablesorter({
                sortList: [[4,1]]
            });
            //$('th[data-typeCol="dateLast"]').click();

            $('.deleteSujet').click(function() {
                var sujetId = $(this).closest('[data-sujetId]').attr('data-sujetId');
                $.ajax({
                    type: 'POST',
                    url: "{{path('deleteSujet_ajax')}}",
                    async: false,
                    dataType: "json",
                    data: {
                        id: sujetId
                    },
                    success: function (data) {
                        window.location.href = window.location.href;
                    },
                    error: function (xhr, status, error) {
                    }
                });
            });
        });
    </script>
    <div class="container pt-40 pb-40">
        <a href="{{ path('newForumSujet', {id: forum.id}) }}" class="btn btn-primary btn-sm"><i class="btnSendMsg fa fa-paper-plane-o" aria-hidden="true"></i></a>
        <h3 class="heading text-center">Sujets de discussion</h3>

        {% if sujetsEpingles %}
            <h6 class="heading text-center">Sujets épinglés</h6>
            {% include "forum/sujetsArray.html.twig"
            with {sujets:sujetsEpingles}
            %}
            <br>
            <h6 class="heading text-center">Autres sujets</h6>
        {% endif %}

        {% include "forum/sujetsArray.html.twig"
        with {sujets:sujets}
        %}

    </div>
{% endblock %}