{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div class="page-header">
        <div class="container">
            <h2 class="color3">FORUM</h2>
            <ul class="breadcrumb">
                <li class="color3">
                    <a href="{{ path('myCourses') }}" class="label label-info">{{ sujet.forum.cours.discipline.nom }}</a>
                    >
                    <a href="{{ path('oneCours', {id: sujet.forum.cours.id, mode: 'etu'}) }}" class="label label-info">{{ sujet.forum.cours.nom }}</a>
                    >
                    <a href="{{ path('forum', {id: sujet.forum.id}) }}" class="label label-info">{{ sujet.forum.nom }}</a>
                    >
                    <a href="{{ path('forumSujet', {id: sujet.id}) }}" class="label label-info">{{ sujet.titre }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <script src="{{ asset('vendors/jquery-ui/jquery-ui.min.js') }}" type=text/javascript></script>
    <script src="{{ asset('vendors/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('vendors/ckeditor/adapters/jquery.js') }}"></script>
    {% include 'forum/commonJs.html.twig' %}
    <script>
        jQuery(document).ready(function () {
            var sujetId = $('[data-sujetId]').attr('data-sujetId');

            CKEDITOR.instances['sujetTexte'].on('change', function() {
                $('.alertMustBeSet').removeClass('alertMustBeSet');
            });

            CKEDITOR.config.extraPlugins = 'dialogui';
            CKEDITOR.config.extraPlugins = 'dialog';
            CKEDITOR.config.extraPlugins = 'clipboard';

            CKEDITOR.config.extraPlugins = 'lineutils';

            CKEDITOR.config.extraPlugins = 'widgetselection';

            CKEDITOR.config.extraPlugins = 'widget';

            CKEDITOR.config.extraPlugins = 'filetools';

            CKEDITOR.config.extraPlugins = 'button';
            CKEDITOR.config.extraPlugins = 'toolbar';
            CKEDITOR.config.extraPlugins = 'notification';
            CKEDITOR.config.extraPlugins = 'notificationaggregator';

            CKEDITOR.config.extraPlugins = 'uploadwidget';

            CKEDITOR.config.extraPlugins = 'uploadimage';
            CKEDITOR.config.uploadUrl = '/stdiLMS/var/upload/upload.php';

            $('.btnSendPost').click(function(){
                if(!$(this).hasClass('clicked')){
                    $('.alertMustBeSet').removeClass('alertMustBeSet');
                    var texte = description = CKEDITOR.instances['sujetTexte'].getData();
                    if(texte == ""){
                        $('[for=sujetTexte]').addClass('alertMustBeSet');
                    }
                    if(!$('.alertMustBeSet').length){
                        $.ajax({
                            type: "POST",
                            url: "{{path('forumNewPost_ajax')}}",
                            data: {
                                id: sujetId,
                                texte: texte
                            },
                            dataType: "json",
                            success: function (response) {
                                window.location.href = window.location.href;
                            }
                        });
                    }
                    $(this).addClass('clicked');
                    setTimeout(function(){
                        console.log('tete')
                        $('.btnSendPost').removeClass('clicked');
                    }, 2000);
                }

            });


            $('.btnDeletePost').click(function() {
                var postId = $(this).closest('[data-postId]').attr('data-postId');
                $.ajax({
                    type: 'POST',
                    url: "{{path('deletePost_ajax')}}",
                    async: false,
                    dataType: "json",
                    data: {
                        id: postId
                    },
                    success: function (data) {
                        window.location.href = window.location.href;
                    },
                    error: function (xhr, status, error) {
                    }
                });
            });
        });
    </script>
    <div class="container pt-40 pb-40" data-sujetId="{{ sujet.id }}">

        <h3 class="heading text-center">{{ sujet.titre }}</h3>
        <div class="row">
            {% for key,val in posts %}
                <div class="col-sm-12" data-postId="{{ val.id }}">
                    <div class="blog-single">
                        <div class="headerPost">
                            <div class="auteurPostOptions">
                                {% if val.auteur and val.auteur.id == app.user.id or app.user.hasRole('ROLE_SUPER_ADMIN') or app.user.canEditForumsMsgs %}
                                    <a href="{{ path('editForumPost', {id: val.id}) }}" class="btnEditPost fctAdminPost">Éditer</a>
                                {% endif %}
                                {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                    <div class="btnDeletePost fctAdminPost">Supprimer</div>
                                {% endif %}
                            </div>
                            <div class="datePost">
                                Envoyé le {{ val.createdAt|localizeddate('none', 'none', null, null, 'd LLLL Y à H:mm' ) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="authorPost col-sm-2">
                                <h5 class="heading">
                                    {% if val.auteur %}
                                        {{ val.auteur.firstname }} {{ val.auteur.lastname }}
                                    {% else %}
                                        Utilisateur
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="contentPost col-sm-10">
                                {{ val.texte|raw }}
                            </div>
                            {% if val.updatedAt is not null %}
                                <div class="col-sm-12 updatedPostForumDate text-right">
                                    Mis à jour le {{ val.updatedAt|localizeddate('none', 'none', null, null, 'd LLLL Y à H:mm' ) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if sujet.ouvert == 1 %}
            <div class="row mt-40">
                <h5 class="heading text-center">Nouveau message</h5>
                <div class="col-sm-12">
                    <div class="write-comment bockNewSujet">
                        <form>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea class="form-control simpleEditor" id="sujetTexte"></textarea>
                                        <label for="sujetTexte">Message*</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group text-center">
                                        <a class="btn btn-primary btn-sm btnSendPost"><i class="btnSendMsg fa fa-paper-plane-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}