{% extends 'base.html.twig' %}

{% block pageHeader %}

{% endblock %}

{% block main %}
    <style>
        .createCourse {
            text-align: center;
        }

        .formCreateCourse {
            display: none;
        }

        .formCreateCourse input[type=file] {
            display: inline-block;
        }

        .formCreateCourse label {
            width: 200px;
        }

        .formCreateCourse form {
            max-width: 600px;
            margin: auto;
        }

        .colCoursContent {
            display: inline-block;
        }

        .course-list:not([data-enabled="1"]) {
            opacity: .6;
        }

        .discDescriptionMyCourses {
            margin-top: 0 !important;
        }

        .discDescriptionMyCourses:not([data-enabled="1"]) {
            display: none;
        }

        [data-template="excellencePro"] .discDescriptionMyCourses {
            display: none;
        }

        [data-template="excellencePro"] .colDiscNames {
            display: none;
        }

        @media screen and (max-width: 1600px) {
            [data-template="afadec"] .colCoursContent {
                width: 800px;
            }

            .colDiscNames {
                width: 300px;
            }
        }

        @media screen and (max-width: 1200px) {
            [data-template="afadec"] .colCoursContent {
                width: 700px;
            }

            .colDiscNames {
                width: 240px;
            }
        }

        @media screen and (max-width: 1000px) {
            [data-template="afadec"] .colCoursContent {
                width: 560px;
            }

            .colDiscNames {
                width: 180px;
            }
        }

        @media screen and (max-width: 1000px) {
            [data-template="afadec"] .colCoursContent {
                width: auto;
            }

            .colDiscNames {
                width: auto;
            }
        }
    </style>
    <script>
        jQuery(document).ready(function () {

            var uncheckedClass = 'fa-square-o';
            var checkedClass = 'fa-check-square-o';

            $('.activationDocBtn').click(function () {
                var id = $(this).closest('[data-discId]').attr('data-discId');
                var isVisible = $(this).hasClass(checkedClass);
                var myBtn = $(this);
                $.ajax({
                    type: "POST",
                    url: "{{ path('changeActivationDocsDisc_ajax') }}",
                    data: {
                        id: id,
                        isVisible: isVisible
                    },
                    dataType: "json",
                    success: function (response) {
                        if (isVisible) {
                            myBtn.removeClass(checkedClass).addClass(uncheckedClass);
                            myBtn.closest('[data-activated]').attr('data-activated', "0");
                        } else {
                            myBtn.removeClass(uncheckedClass).addClass(checkedClass);
                            myBtn.closest('[data-activated]').attr('data-activated', "1");
                        }
                    }
                });
            });

            $('.btnInscrSess').click(function () {
                var btn = $(this);
                if (!btn.hasClass('inactivate')) {
                    btn.addClass('inactivate');
                    var block = btn.closest('[data-idSession]');
                    var id = block.attr('data-idSession');
                    var idCours = block.attr('data-idCours');
                    $.ajax({
                        type: "POST",
                        url: "{{ path('inscrSess_ajax') }}",
                        data: {
                            id: id,
                            idCours: idCours
                        },
                        dataType: "json",
                        success: function (response) {
                            btn.remove();
                            block.find('.fdbackInscUserSess').removeClass('hidden');
                            window.location.href = window.location.href;
                        }
                    });
                }
            });

            $('.btnCreateCourse').click(function () {
                $('.formCreateCourse').toggle();
            });

            $('.colDiscNames>li').click(function () {
                let roleDis = $(this).attr('data-role');
                if (roleDis === "admin" || roleDis === "Referent") {
                    $('.createCourseForm').show();
                } else {
                    $('.createCourseForm').hide();
                }
            });
            $('.colDiscNames .active').click();

            $('.btnIncrsForReferents').each(function () {
                let role = $(this).closest('[data-discid]').attr('data-role');
                if (role === "admin" || role === "Referent") {
                    $(this).show();
                }
            });
        });
    </script>

    {% set hasResponsableMinRights = app.user.hasRole('ROLE_SUPER_ADMIN') or (app.user.statut == 'Responsable' and app.user.confirmedByAdmin) %}
    {% set hasInscritsRights = app.user.hasRole('ROLE_SUPER_ADMIN') or ((app.user.statut == 'Responsable' or app.user.statut == 'Formateur') and app.user.confirmedByAdmin) %}

    <div class="container mt-120">
        <div class="row mt-20 mb-100">
            {% if hasResponsableMinRights %}
                <div style="margin-bottom: 10px;">
                    <a href="{{ path('inscriptionDiscipline') }}">
                        Gérer mes inscriptions
                    </a>
                </div>
            {% endif %}
            <div class="course-list createCourseForm" style="margin-top: 0; display: none">
                <div class="createCourse mt-20 mb-20 col-xs-12">
                    <a href="#" class="btn btnCreateCourse btn-warning btn-sm">Créer un nouveau cours</a>
                </div>
                <div class="formCreateCourse">
                    {{ form(form) }}
                </div>
            </div>
            <div class="col-sm-12">
                {% set idActive = 0 %}
                {% if active > 0 %}
                    {% set idActive = active %}
                {% endif %}
                <ul class="colDiscNames col-sm-4 nav nav-pills nav-stacked pull-left" role="tablist"
                    style="padding-bottom: 5px;padding-top: 5px">
                    {% for key,val in courses %}
                        <li role="presentation"
                            data-role="{% if app.user.hasRole('ROLE_SUPER_ADMIN') %}admin{% else %}{{ val.role }}{% endif %}"
                                {% if idActive != 0 and val.discipline.id == active or idActive == 0 and loop.index == 1 %}
                            class="active"
                                {% endif %}>
                            <a href="#p1body{{ val.discipline.id }}" aria-controls="p1body{{ val.discipline.id }}"
                               role="tab" data-toggle="tab"><i
                                        class="fa {{ val.discipline.faIcon }} fa-fw"></i> {{ val.discipline }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for key,val in courses %}
                        <div data-discId="{{ val.discipline.id }}" role="tabpanel"
                             data-role="{% if app.user.hasRole('ROLE_SUPER_ADMIN') %}admin{% else %}{{ val.role }}{% endif %}"
                             class="tab-pane fade{% if idActive != 0 and val.discipline.id == active or idActive == 0 and loop.index == 1 %} in active{% endif %}"
                             id="p1body{{ val.discipline.id }}" {% if loop.index == 1 %} style="padding-top: 0;" {% endif %}>
                            <div class="container mt-0 mb-60">
                                <div class="row">
                                    <div class="colCoursContent {% if template == 'excellencePro' %}col-sm-12{% elseif template == 'afadec' %}col-sm-8{% endif %}">
                                        <div class="course-list discDescriptionMyCourses"
                                             data-enabled="{% if val.discipline.description is not null and val.discipline.description is not empty %}1{% else %}0{% endif %}">
                                            <div class="course-detail">
                                                <h4 class="heading"><i class="fa fa-info-circle"
                                                                       aria-hidden="true"></i> {{ val.discipline.nom }}
                                                </h4>
                                                {{ val.discipline.description|raw }}
                                            </div>
                                        </div>
                                        {% if hasInscritsRights %}
                                            <div class="course-list" style="margin-top: 0;">
                                                <div class="course-media text-center mt-10">
                                                    <i class="fa fa-users fa-3" aria-hidden="true"></i>
                                                </div>
                                                <div class="course-detail">
                                                    <h4 class="heading">Gestion des inscriptions</h4>
                                                    {% if val.cohortesLiees is defined %}
                                                        {% for key2,val2 in val.cohortesLiees %}
                                                            <div class="resumeDocs mt-20 col-xs-12">
                                                                <a href="{{ path('itemUsers', {id: val2.id, type:"cohorte"}) }}"
                                                                   class="btn btn-warning btn-sm">Inscrits via la
                                                                    cohorte {{ val2.nom }}</a>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                    <div class="resumeDocs mt-20 col-xs-12">
                                                        <a href="{{ path('itemUsers', {id: val.discipline.id, type:"discipline"}) }}"
                                                           class="btn btn-warning btn-sm">Inscrits à la discipline</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if app.user.hasRole('ROLE_SUPER_ADMIN') or val.discipline.docsActivated==1 %}
                                            <div class="course-list documentsDisc"
                                                 data-activated="{{ val.discipline.docsActivated }}"
                                                 style="margin-top: 0;">
                                                <div class="course-media text-center mt-10">
                                                    <i class="fa fa-file-o fa-3" aria-hidden="true"></i>
                                                </div>
                                                <div class="course-detail">
                                                    <h4 class="heading">Mes documents partagés</h4>
                                                    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                                        <label class="ml-10"> Activer le partage</label>
                                                        <div class="myBtn btnAlone btnAdmin col-xs-1">
                                                            {% if val.discipline.docsActivated %}
                                                                <i class="activationDocBtn fa fa-check-square-o"></i>
                                                            {% else %}
                                                                <i class="activationDocBtn fa fa-square-o"></i>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                    {% if val.nbNewDocs != 0 %}
                                                        <p class="newDocsP"><span
                                                                    class="newDocsPuce">{{ val.nbNewDocs }}</span>
                                                            nouveaux documents</p>
                                                    {% endif %}
                                                    <div class="resumeDocs mt-20 col-xs-12">
                                                        <a href="{{ path('documents', {id: val.discipline.id}) }}"
                                                           class="btn btn-primary btn-sm">Accéder</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% elseif val.discipline.docsActivated == 1 %}
                                            <div class="course-list documentsDisc" style="margin-top: 0;">
                                                <div class="course-detail">
                                                    <h4 class="heading">Documents</h4>

                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if val.sessions is defined %}
                                            {% for keyC,valC in val.sessions %}
                                                {% if hasInscritsRights or valC.enabled %}
                                                    <div data-enabled="{{ valC.enabled }}"
                                                         class="course-list course-session" data-idCours="{{ valC.id }}"
                                                         style="margin-top: 0;">
                                                        <div class="course-media">
                                                            <img src="{{ asset('images/cours/') }}{{ valC.imageFilename }}"
                                                                 class="img-responsive course-img" alt="">
                                                        </div>
                                                        <div class="course-detail">
                                                            <h4 class="heading">{{ valC.nom }}</h4>
                                                            <ul class="course-features">
                                                                {% if valC.aDistance %}
                                                                    <li><i class="fa fa-map-marker"></i> À distance</li>
                                                                    <br/>
                                                                {% endif %}
                                                                {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                                                    <li>
                                                                        <i class="fa fa-hourglass-start"></i> {{ valC.session.dateDebut|localizeddate('none', 'none', null, null, 'd LLLL Y' ) }}
                                                                    </li>
                                                                {% endif %}
                                                                <li>
                                                                    <i class="fa fa-hourglass-end"></i> {{ valC.session.dateFin|localizeddate('none', 'none', null, null, 'd LLLL Y' ) }}
                                                                </li>
                                                                {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                                                    <br/>
                                                                    <li><i class="fa fa-bell-o"
                                                                           aria-hidden="true"></i> {{ valC.session.dateDebutAlerte|localizeddate('none', 'none', null, null, 'd LLLL Y' ) }}
                                                                    </li>
                                                                    <li><i class="fa fa-bell-slash-o"
                                                                           aria-hidden="true"></i> {{ valC.session.dateFinAlerte|localizeddate('none', 'none', null, null, 'd LLLL Y' ) }}
                                                                    </li>
                                                                {% endif %}
                                                            </ul>
                                                            <p class="brief">{{ valC.description|raw }}</p>
                                                            <a href="{{ path('oneCours', {id: valC.id, mode: 'etu'}) }}"
                                                               class="btn btn-primary btn-sm">Entrer</a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if val.sessionsAdmin is defined %}
                                            {% for keyC,valC in val.sessionsAdmin %}
                                                {% if hasInscritsRights or valC.enabled %}
                                                    <div data-enabled="{{ valC.enabled }}"
                                                         class="course-list course-session" data-idCours="{{ valC.id }}"
                                                         style="margin-top: 0; opacity: .6;">
                                                        <div class="course-media">
                                                            <img src="{{ asset('images/cours/') }}{{ valC.imageFilename }}"
                                                                 class="img-responsive course-img" alt="">
                                                        </div>
                                                        <div class="course-detail">
                                                            <h4 class="heading">{{ valC.nom }}</h4>
                                                            <ul class="course-features">
                                                                {% if valC.aDistance %}
                                                                    <li><i class="fa fa-map-marker"></i> À distance</li>
                                                                    <br/>
                                                                {% endif %}
                                                                {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                                                    <li>
                                                                        <i class="fa fa-hourglass-start"></i> {{ valC.session.dateDebut|localizeddate('none', 'none', null, null, 'd LLLL Y' ) }}
                                                                    </li>
                                                                {% endif %}
                                                                <li>
                                                                    <i class="fa fa-hourglass-end"></i> {{ valC.session.dateFin|localizeddate('none', 'none', null, null, 'd LLLL Y' ) }}
                                                                </li>
                                                                {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                                                    <br/>
                                                                    <li><i class="fa fa-bell-o"
                                                                           aria-hidden="true"></i> {{ valC.session.dateDebutAlerte|localizeddate('none', 'none', null, null, 'd LLLL Y' ) }}
                                                                    </li>
                                                                    <li><i class="fa fa-bell-slash-o"
                                                                           aria-hidden="true"></i> {{ valC.session.dateFinAlerte|localizeddate('none', 'none', null, null, 'd LLLL Y' ) }}
                                                                    </li>
                                                                {% endif %}
                                                            </ul>
                                                            <p class="brief">{{ valC.description|raw }}</p>
                                                            <a href="{{ path('oneCours', {id: valC.id, mode: 'etu'}) }}"
                                                               class="btn btn-primary btn-sm">Entrer</a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if val.sessionsAlerte is defined %}
                                            {% for keyC,valC in val.sessionsAlerte %}
                                                {% if hasInscritsRights or valC.enabled %}
                                                    <div data-enabled="{{ valC.enabled }}"
                                                         class="course-list course-sessionAlerte"
                                                         data-idCours="{{ valC.id }}"
                                                         data-idSession="{{ valC.session.id }}"
                                                         style="margin-top: 0;">
                                                        <div class="course-media">
                                                            <img src="{{ asset('images/cours/') }}{{ valC.imageFilename }}"
                                                                 class="img-responsive course-img" alt="">
                                                        </div>
                                                        <div class="course-detail">
                                                            <h4 class="heading">{{ valC.nom }}</h4>
                                                            <ul class="course-features">
                                                                {% if valC.aDistance %}
                                                                    <li><i class="fa fa-map-marker"></i> À distance</li>
                                                                    <br/>
                                                                {% endif %}
                                                                <li>
                                                                    <i class="fa fa-hourglass-start"></i> {{ valC.session.dateDebut|localizeddate('none', 'none', null, null, 'd LLLL Y' ) }}
                                                                </li>
                                                            </ul>
                                                            <p class="brief">{{ valC.session.messageAlerte|raw }}</p>
                                                            <p class="brief fdbackInscUserSess{% if not val.sessionsAlerteIsInscrit[keyC] %} hidden{% endif %}">
                                                                Vous êtes inscrit à cette future session.</p>

                                                            {% if not val.sessionsAlerteIsInscrit[keyC] %}
                                                                <a class="btn btn-warning btn-sm btnInscrSess">S'inscrire</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if val.sessionsFinSession is defined %}
                                            {% for keyC,valC in val.sessionsFinSession %}
                                                {% if hasInscritsRights or valC.enabled %}
                                                    <div data-enabled="{{ valC.enabled }}"
                                                         class="course-list course-sessionAlerte"
                                                         data-idCours="{{ valC.id }}"
                                                         data-idSession="{{ valC.session.id }}"
                                                         style="margin-top: 0;">
                                                        <div class="course-media">
                                                            <img src="{{ asset('images/cours/') }}{{ valC.imageFilename }}"
                                                                 class="img-responsive course-img" alt="">
                                                        </div>
                                                        <div class="course-detail">
                                                            <h4 class="heading">{{ valC.nom }}</h4>
                                                            <ul class="course-features">
                                                                {% if valC.aDistance %}
                                                                    <li><i class="fa fa-map-marker"></i> À distance</li>
                                                                    <br/>
                                                                {% endif %}
                                                                <li>
                                                                    <i class="fa fa-hourglass-start"></i> {{ valC.session.dateDebut|localizeddate('none', 'none', null, null, 'd LLLL Y' ) }}
                                                                </li>
                                                            </ul>
                                                            <p class="brief">{{ valC.session.messageFinSession|raw }}</p>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% for keyC,valC in val.courses %}
                                            {% if hasInscritsRights or valC.enabled %}
                                                <div data-enabled="{{ valC.enabled }}" class="course-list"
                                                     data-idCours="{{ valC.id }}"
                                                     style="margin-top: 0;">
                                                    <div class="course-media">
                                                        <img src="{{ asset('images/cours/') }}{{ valC.imageFilename }}"
                                                             class="img-responsive course-img" alt="">
                                                    </div>
                                                    <div class="course-detail">
                                                        <h4 class="heading">{{ valC.nom }}</h4>
                                                        {% if valC.aDistance %}
                                                            <ul class="course-features">
                                                                <li><i class="fa fa-map-marker"></i> À distance</li>
                                                                <!--<li><i class="fa fa-clock-o"></i> 2 mois</li>-->
                                                            </ul>
                                                        {% endif %}
                                                        <p class="brief">{{ valC.description|raw }}</p>
                                                        <a href="{{ path('oneCours', {id: valC.id, mode: 'etu'}) }}"
                                                           class="btn btn-primary btn-sm">Entrer</a>
                                                        {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                                            <a href="{{ path('itemUsers', {id: valC.id, type:"cours"}) }}"
                                                               class="btn btn-warning btn-sm">Inscrits</a>
                                                        {% endif %}
                                                        {% if val.role == 'Referent' or app.user.hasRole('ROLE_SUPER_ADMIN') or valC.id in coursReferent %}
                                                            <a href="{{ path('itemUsers', {id: valC.id, type:"cours"}) }}"
                                                               class="btnIncrsForReferents btn btn-warning btn-sm">Modifier</a>
                                                        {% endif %}
                                                        {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                                            <a href="{{ path('dupliqCours', {id: valC.id}) }}"
                                                               class="btn btn-warning btn-sm">Dupliquer</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
{% endblock %}