{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div>{{ template }}</div>
    <div class="page-header littleScroll">
        <div class="container">
            <h2 class="color3">Devoirs</h2>
            <ul class="breadcrumb">
                <li class="color3">Gestion des devoirs</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="{{ asset('vendors/tablesorter/dist/css/theme.default.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendors/tablesorter/dist/css/jquery.tablesorter.pager.min.css') }}" />

    <script type="text/javascript" src="{{ asset('vendors/tablesorter/dist/js/jquery.tablesorter.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/tablesorter/dist/js/jquery.tablesorter.widgets.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js') }}"></script>

    <script>
        jQuery(document).ready(function () {
            $(".tablesorter")
                    .tablesorter({
                        widthFixed: true,
                        widgets: ['zebra', 'filter']
                    })
                    .tablesorterPager({
                        container: $("#pager"),
                        size: 50
                    });
        });
    </script>

    <div class="container mt-220 mb-40">
        <div class="row">
            <div class="col-md-12">
                <table class="tablesorter ">
                    <thead>
                    <tr>
                        <th data-filter="false">Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Durée</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th data-filter="false">Détail</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for devoir in devoirs %}
                        <tr class="devoirLine" data-devoirId="{{ devoir.id }}">
                            <td><a href="{{ path('devoir', {id:devoir.id }) }}">{{ devoir.id }}</a></td>
                            <td><a href="{{ path('devoir', {id:devoir.id }) }}">{{ devoir.nom }}</a></td>
                            <td>{{ devoir.description|length > 80 ? devoir.description|slice(0, 80) ~ '...' : devoir.description }}</td>
                            <td>{{ devoir.duree//3600  }}h{{ (devoir.duree - 3600*(devoir.duree//3600))//60 }}min</td>
                            <td>{{ devoir.dateDebut|localizeddate('none', 'none', null, null, 'dd/MM/Y' ) }}</td>
                            <td>{{ devoir.dateFin|localizeddate('none', 'none', null, null, 'dd/MM/Y' ) }}</td>
                            <td><a class="btnCellFilter" href="{{ path('devoir', {id:devoir.id }) }}"><i class="fa fa-sign-in" aria-hidden="true"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id="pager" class="pager">
                    <form>
                        <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}" class="first"/>
                        <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}" class="prev"/>
                        <input type="text" class="pagedisplay"/>
                        <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}" class="next"/>
                        <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}" class="last"/>
                        <select class="pagesize">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="all">All Rows</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}