{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div class="page-header">
        <div class="container">
            <h2 class="color3">Documents du cours</h2>
            <ul class="breadcrumb">
                <li class="color3">
                    <a href="{{ path('myCourses') }}" class="label label-info">{{ cours.discipline.nom }}</a>
                    >
                    <a href="{{ path('oneCours', {id: cours.id, mode: 'ens'}) }}" class="label label-info">{{ cours.nom }}</a>

                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <script src="{{ asset('vendors/jquery-ui/jquery-ui.min.js') }}" type=text/javascript></script>
    <script src="{{ asset('educomp/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('educomp/ckeditor/adapters/jquery.js') }}"></script>
    {% include 'documents/commonJs.html.twig' %}
    <script>
        jQuery(document).ready(function () {
            $('.openPopupUpload').click(function() {
                $('[data-champname="nom"]').removeClass('champError').val('');
                $('.contentDocInfos').show();
                $('.contentDocRess').hide();
                $('.selectpicker').selectpicker('val', 'tous');

                var idCours = $(this).closest('[data-coursId]').attr('data-coursId');

                $('.modal').modal();
                $('.modal .modal-body').hide();
                var popup = $('.modal .modal-body[data-contentModal=appendDoc]');
                popup.show();

                var folderLocation = $('[data-folderUpload]').attr('data-folderUpload');
                var url = '../'+folderLocation+'docs/cours/'+idCours+'/';

                $.ajax({
                    type: 'POST',
                    url: "{{path('checkDirForUploadFile_ajax')}}",
                    async: false,
                    dataType: "json",
                    data: {
                        url: url
                    },
                    success: function (data) {
                    },
                    error: function(xhr, status, error) {
                    }
                });

                $('#docUpload').fileupload({
                    url: '../../../../'+folderLocation,
                    dropZone:null,
                    dataType: 'json',
                    done: function (e, data) {
                        $.each(data.result.files, function (index, file) {
                            var myUrlTab = file.url.split(folderLocation);

                            var usersSelected = $('.selectpicker').val();
                            usersSelected.push($('[data-userId]').attr('data-userId'));

                            $.ajax({
                                type: 'POST',
                                url: "{{path('uploadDocCoursFile_ajax')}}",
                                async: false,
                                dataType: "json",
                                data: {
                                    coursId: idCours,
                                    userId: $('[data-userId]').attr('data-userId'),
                                    url: '../'+folderLocation+myUrlTab[1],
                                    urlDest: url,
                                    currentUrl: window.location.pathname,
                                    nom: $('[data-champname="nom"]').val(),
                                    isImportant: $('[data-champname="docIsImportant"]').prop('checked'),
                                    description: CKEDITOR.instances[$('[data-champName=description]').attr('id')].getData(),
                                    users: usersSelected
                                },
                                success: function (data) {
                                    $('.modal').modal('toggle');
                                    window.location.href = window.location.href;
                                },
                                error: function(xhr, status, error) {
                                    $('.modal').modal('toggle');
                                }
                            });
                        });

                    },
                    progressall: function (e, data) {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        $('#itemProgress').find('.progress-bar').css(
                                'width',
                                progress + '%'
                        );
                    }
                }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
            });
        });
    </script>

    <div class="bgcolor3 pt-100 pb-100" data-coursId="{{ cours.id }}">
        {% include "documents/docArrays.html.twig" %}
    </div>

    {% include "documents/modal.html.twig"
        with {users:users}
    %}
{% endblock %}