<style>
    .tablesorter td .btn:not(.selColor) {
        color: #fff;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <table class="docTable table table-boxed">
            <thead>
                <tr>
                    <th></th>
                    <th>Nom du fichier</th>
                    <th></th>
                    <th>Auteur</th>
                    <th data-typeCol="dateDepot">Date de dépôt</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for key,val in docs %}
                    <tr data-docId="{{ val[0].id }}"{% if val[1] == 1 %} class="trIsNew"{% endif %}>
                        <td>
                            <i class="fa fa-star-o iconeNewTr" aria-hidden="true"></i>
                        </td>
                        <td>
                            <a href="{{ val[0].url }}" target="_blank">{{ val[0].nom }}</a>
                        </td>
                        <td>
                            <i class="fa fa-info-circle infoDocument" aria-hidden="true"></i>
                        </td>
                        <td>
                            {% if val[0].proprietaire %}
                                {{ val[0].proprietaire.firstname }} {{ val[0].proprietaire.lastName }}
                            {% else %}
                                Utilisateur
                            {% endif %}
                        </td>
                        <td data-text="{{ val[0].dateCrea|localizeddate('none', 'none', null, null, 'YMMddhhmm' ) }}">{{ val[0].dateCrea|localizeddate('none', 'none', null, null, 'd LLLL Y' ) }}</td>
                        <td>
                            <a href="{{ val[0].url }}" class="btn btn-primary btn-xs btnDocOpen" download>Télécharger</a>
                            {% if val[0].proprietaire and app.user.id == val[0].proprietaire.id
                            or app.user.hasRole('ROLE_SUPER_ADMIN')
                            or role == 'ens' %}
                                <a class="btn btn-xs btn-danger deleteDoc">Supprimer</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>