

{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div class="page-header">
        <div class="container">
            <h2 class="color3">Calendrier</h2>
            <ul class="breadcrumb">
                <li class="color3">Mes évènements</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <script>
        jQuery(document).ready(function () {
            var events = [];
            $('.event-data').each(function(){
                var dateD = $(this).find('.dateD');
                var dateDarray = {
                    year: dateD.find('.year').text(),
                    month: dateD.find('.month').text(),
                    day: dateD.find('.day').text(),
                    hour: parseInt(dateD.find('.hour').text()),
                    minute: parseInt(dateD.find('.minute').text())
                };
                var dateF = $(this).find('.dateF');
                var type = $(this).find('.typeEvt').text();

                var myNewEvent = {
                    title: $(this).find('.nom').text(),
                    description: $(this).find('.description').html(),
                    start: new Date(dateDarray.year, dateDarray.month, dateDarray.day, dateDarray.hour, dateDarray.minute)
                };

                if(dateF.length){
                    var dateFarray = {
                        year: dateF.find('.year').text(),
                        month: dateF.find('.month').text(),
                        day: dateF.find('.day').text(),
                        hour: parseInt(dateF.find('.hour').text()),
                        minute: parseInt(dateF.find('.minute').text())
                    };
                    myNewEvent["end"] = new Date(dateFarray.year, dateFarray.month, dateFarray.day, dateFarray.hour, dateFarray.minute);
                }

                // si le début et la fin sont à 00:00, on passe en allday
                if(dateDarray.hour == 0 && dateDarray.minute == 0 && dateFarray.hour == 0 && dateFarray.minute == 0){
                    myNewEvent["allDay"] = true;
                }

                if(type == "devoirEvt"){
                    myNewEvent["color"] = "#ff3f46";
                }else if(type == "coursEvt"){
                    myNewEvent["color"] = "#00A0D1";
                }else if(type == "discEvt"){
                    myNewEvent["color"] = "#00A0D1";
                }else if(type == "userEvt"){
                    myNewEvent["color"] = "#9179ef";
                }

                events.push(myNewEvent);
            });

            $('#calendar').fullCalendar({
                lang: 'fr',
                events: events,
                header:
                {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                eventMouseover: function(calEvent, jsEvent) {
                    if(calEvent.description != ""){
                        var tooltip = '<div class="tooltipevent">' + calEvent.description + '</div>';
                        var tootlipJ = $(tooltip).appendTo('body');

                        $(this).mouseover(function(e) {
                            $(this).css('z-index', 10000);
                            tootlipJ.fadeIn('500');
                            tootlipJ.fadeTo('10', 1.9);
                        }).mousemove(function(e) {
                            tootlipJ.css('top', e.pageY + 10);
                            tootlipJ.css('left', e.pageX + 20);
                        });
                    }
                },
                eventMouseout: function(calEvent, jsEvent) {
                    $(this).css('z-index', 8);
                    $('.tooltipevent').remove();
                }


            })
        });
    </script>

    <div class="container mt-100 mb-40">
        <div class="row">

            <div id='datas' style="display: none">
                {% for event in events %}
                    <div class="event-data" data-type="">
                        <div class="typeEvt">{{ event.type }}</div>
                        <div class="dateD">
                            <div class="year">{{ event.evt.dateDebut|date('Y') }}</div>
                            <div class="month">{{ event.evt.dateDebut|date('m') }}</div>
                            <div class="day">{{ event.evt.dateDebut|date('d') }}</div>
                            <div class="hour">{{ event.evt.dateDebut|date('H') }}</div>
                            <div class="minute">{{ event.evt.dateDebut|date('i') }}</div>
                        </div>
                        <div class="dateF">
                            <div class="year">{{ event.evt.dateFin|date('Y') }}</div>
                            <div class="month">{{ event.evt.dateFin|date('m') }}</div>
                            <div class="day">{{ event.evt.dateFin|date('d') }}</div>
                            <div class="hour">{{ event.evt.dateFin|date('H') }}</div>
                            <div class="minute">{{ event.evt.dateFin|date('i') }}</div>
                        </div>
                        <div class="nom">{{ event.evt.nom }}</div>
                        <div class="description">{{ event.evt.description | raw }}</div>
                    </div>
                {% endfor %}
            </div>
            <div id='calendar'></div>
        </div>
    </div>
{% endblock %}