{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div class="page-header">
        <div class="container">
            <h2 class="color3">Inscription sur la plateforme de l'AFADEC</h2>
            <ul class="breadcrumb">
                <li class="color3">Je créé mon compte</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <style>
        /*#form > div {
            margin-bottom: 15px;
        }

        #form > div:last-of-type {
            text-align: center;
        }

        #form > div > input {
            max-width: 350px;
        }

        #form > div > * {
            float: none;
        }

        #form > div > ul > li {
            color: #c70c00;
        }

        label {
            text-align: right;
        }

        input[type=checkbox] {
            margin-right: 2px;
        }

        input[type=checkbox]:not(:first-child) {
            margin-left: 15px;
        }*/
        .formRow {
            width: 600px;
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-direction: row;
            -webkit-flex-direction: row;
            -webkit-box-orient: horizontal;
            justify-content: flex-start;
            -webkit-justify-content: flex-start;
            align-items: center;
            -webkit-align-items: center;
            height: 35px;
        }

        .formRow label {
            width: 300px;
            text-align: right;
        }

        .formRow input {
            flex: 1;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
        }

        .formRow select {
            width: 220px;
        }
        [data-template="excellencePro"] .formRow select {
            width: 300px;
        }

        #form_submit {
            margin: auto;
            margin-top: 30px;
        }

        .alertTypeUserValidation, .alertFormateurEngagement {
            display: none;
            background-color: #8ec780;
            padding: 10px 15px;
            border-radius: 5px;
            border: 1px solid #48753d;
            margin: 10px 0;
        }

        .alertFormateurEngagement {
            background-color: #f9c471;
        }

        .alertFormateurEngagement label {
            width: auto;
            float: none;
        }

        #form_validInscriptionFormateurEngagement {
            display: inline-block;
        }

        .btnSubmitZone {
            /*display: none;*/
        }

        .myCaptcha {
            background: #fff;
            display: none;
            padding: 10px;
            border-radius: 3px;
        }

        .etiq {
            width: 35px;
            height: 35px;
            cursor: pointer;
            display: inline-block;
            margin: 2px;
        }

        .dest {
            width: 100px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: 3px dashed #000;
            background: #fff;
            border-radius: 3px;
        }

        .colorInList {
            display: inline-block;
            color: #fff;
            background: #000;
            padding: 5px 10px;
            margin: 5px;
        }

        [data-color="etiq_bl"] {
            background-color: #168dd1;
        }

        [data-color="etiq_b"] {
            background-color: #000;
        }

        [data-color="etiq_g"] {
            background-color: #0cad43;
        }

        [data-color="etiq_gr"] {
            background-color: #a2b0b1;
        }

        [data-color="etiq_j"] {
            background-color: #f5e822;
        }

        [data-color="etiq_r"] {
            background-color: #ff1d00;
        }

        label[for="form_validInscriptionFormateurEngagement"] {
            display: inline-block;
            width: auto;
            float: inherit;
        }
    </style>
    <script src="{{ asset('vendors/jquery-ui/jquery-ui.min.js') }}" type=text/javascript></script>
    <script>
        jQuery(document).ready(function () {

            $('label').addClass('col-sm-4');

            if ($('#form_mdp_first').parent().find('ul').length) {
                $('#form_mdp_first').parent().find('ul').addClass('col-sm-8 text-center').appendTo($('#form_mdp_first').parent());
            }
            if ($('#form_email').val()) {
                $('#form_email').parent().append('<ul class="col-sm-12 text-center"><li>Cet email appartient déjà à un compte sur la plateforme</li></ul>');
            }

            $('input').on('change', function () {
                $('#form>div>ul').remove();
            });

            loadEtudiant();

            $('#form_typeUser').on('change', function () {
                if ($(this).val() === 'Etudiant') {
                    loadEtudiant();
                } else if ($(this).val() === 'Formateur' || $(this).val() === 'Responsable') {
                    loadFormateur();
                } else {
                    loadProfStagiaire();
                }
            });
            $('#form_concours').on('change', function () {
                if ($(this).val() == 0) {
                    // 1er degré
                    $('#form_matiereEtu, #form_matiereForm, #form_matiereProfStag').parent().hide();
                } else if ($(this).val() == 1) {
                    // 2nd degré
                    $('#form_matiereEtu').parent().show();
                }
            });
            $('#form_sectionEns').on('change', function () {
                if ($(this).val() == 0) {
                    // 1er degré
                    $('#form_matiereEtu, #form_matiereForm, #form_matiereProfStag').parent().hide();
                } else if ($(this).val() == 1) {
                    // 2nd degré
                    $('#form_matiereForm').parent().show();
                }
            });

            function loadEtudiant() {
                $('#form_sectionEns').parent().hide();
                $('#form_matiereEtu, #form_matiereForm, #form_matiereProfStag').parent().hide();
                $('#form_concours').parent().show().val(0);
                $('.alertTypeUserValidation, .alertFormateurEngagement').hide();
                $('#form_validInscriptionFormateurEngagement [value=1]').prop('checked', true);
            }

            function loadFormateur() {
                $('#form_sectionEns').parent().show();
                $('#form_matiereEtu, #form_matiereForm, #form_matiereProfStag').parent().hide();
                $('#form_concours').parent().hide();

                // validation du compte par l'admin, il faut prévenir le user
                $('.alertTypeUserValidation, .alertFormateurEngagement').show();
                $('#form_validInscriptionFormateurEngagement input').prop('checked', false);
            }

            function loadProfStagiaire() {
                $('#form_sectionEns').parent().hide();
                $('#form_matiereEtu, #form_matiereForm').parent().hide();
                $('#form_matiereProfStag').parent().show();
                $('#form_concours').parent().hide();
                $('.alertTypeUserValidation, .alertFormateurEngagement').hide();
                $('#form_validInscriptionFormateurEngagement input').prop('checked', false);
            }

            $(".etiq").draggable({revert: "valid"});
            $(".dest").droppable({
                drop: function (event, ui) {
                    $(this).attr('data-color', ui.draggable.attr("data-color"));
                    ui.draggable.remove();
                }
            });
            let colArray = ['gris', 'noir', 'bleu', 'jaune', 'rouge', 'vert'];
            shuffle(colArray);
            for (let i = 0; i < colArray.length; i++) {
                $('.colorsList').append('<div class="colorInList">' + parseInt(i + 1) + ' : ' + colArray[i] + '</div>')
            }

            function shuffle(array) {
                array.sort(() => Math.random() - 0.5);
            }
        });
    </script>

    <div class="container mt-10 mb-40">
        <div class="text-justify">
            {% if template == 'afadec' %}
            <h4 class="heading">Pourquoi <span class="color2">s'inscrire ?</span></h4>

            <p>Vous êtes étudiants en Master MEEF, vous êtes professeur stagiaire, vous êtes formateur dans un ISFEC…
                L’AFADEC vous accompagne dans votre parcours (conférences vidéos en ligne, concours blancs, exercices,
                sessions de travail ou de révision, documents de référence….etc. ).
            </p>

            <p>
                La première démarche à faire est de s’inscrire sur la
                plate-forme.
            </p>
            {% endif %}
            <h4 class="heading">Comment <span class="color2">s'inscrire ?</span></h4>

            <p>Créez votre compte à l’aide du formulaire ci-dessous.</p>

            <p>En cas de problème ou de question : <a class="studitBlueFC" href="mailTo:contact.afadec@gmail.com">contact.afadec@gmail.com</a>
            </p>
        </div>

        <div>
            <h4 class="heading">Renseigner <span class="color2">mes informations</span></h4>

            <div class="container mb-40">
                <div class="row">
                    {{ form_start(form) }}
                    <div class="formRow">
                        {{ form_label(form.nom) }}{{ form_widget(form.nom) }}
                    </div>
                    <div class="formRow">
                        {{ form_label(form.prenom) }}{{ form_widget(form.prenom) }}
                    </div>
                    <div class="formRow">
                        {{ form_label(form.email) }}{{ form_widget(form.email) }}
                    </div>
                    <div class="formRow">
                        {{ form_label(form.phone) }}{{ form_widget(form.phone) }}
                    </div>
                    <div class="formRow">
                        {{ form_label(form.mdp.first) }}{{ form_widget(form.mdp.first) }}
                    </div>
                    <div class="formRow">
                        {{ form_label(form.mdp.second) }}{{ form_widget(form.mdp.second) }}
                    </div>
                    <div class="formRow">
                        {{ form_label(form.typeUser) }}{{ form_widget(form.typeUser) }}
                    </div>
                    {% if template == 'afadec' %}
                        <div class="formRow">
                            {{ form_label(form.institut) }}{{ form_widget(form.institut) }}
                        </div>
                        <div class="alertTypeUserValidation">
                            Attention, les statuts "Référent", "Formateur" et "Administrateur" permettent des
                            fonctionnalités additionnelles dans la plateforme.
                            De ce fait, votre compte devra être confirmé par les administrateurs de l'Afadec.
                            L'activation de votre compte ne sera pas instantannée mais pourra prendre jusqu'à 24h.
                            Merci pour votre compréhension.
                        </div>
                        <div class="alertFormateurEngagement">
                            L’AFADEC va vous ouvrir un accès Formateur à sa plateforme qui vous permet, dans votre
                            discipline, de voir les cours en ligne et ceux en préparation. En utilisant vos identifiants
                            et mots de passe pour accéder à http://www.afadec.fr/, vous vous engagez à le faire dans le
                            respect déontologique de l’utilisation des contenus publiés en particulier celui du droit
                            d’auteur.
                            <br><br>{{ form_label(form.validInscriptionFormateurEngagement) }}{{ form_widget(form.validInscriptionFormateurEngagement) }}
                        </div>
                        <div class="formRow">
                            {{ form_label(form.concours) }}{{ form_widget(form.concours) }}
                        </div>
                        <div class="formRow">
                            {{ form_label(form.sectionEns) }}{{ form_widget(form.sectionEns) }}
                        </div>
                        <div class="formRow">
                            {{ form_label(form.matiereEtu) }}{{ form_widget(form.matiereEtu) }}
                        </div>
                        <div class="formRow">
                            {{ form_label(form.matiereForm) }}{{ form_widget(form.matiereForm) }}
                        </div>
                        <div class="formRow">
                            {{ form_label(form.matiereProfStag) }}{{ form_widget(form.matiereProfStag) }}
                        </div>
                    {% elseif template == 'excellencePro' %}
                    {% endif %}
                    {#<div class="myCaptcha">
                        <div>Afin de vérifier que vous n'êtes pas un robot, nous vous demandons de déplacer les carrés dans la cible, dans l'ordre suivant :</div>
                        <div class="colorsList"></div>
                        <div>Vous avez trois essais pour confirmer que vous n'êtes pas un robot.</div>
                        <div class="dest">Cible</div>
                        <div class="start">
                            <div class="etiq" data-color="etiq_r"><img src="{{ asset('images/captcha/r.png') }}" /></div>
                            <div class="etiq" data-color="etiq_b"><img src="{{ asset('images/captcha/n.png') }}" /></div>
                            <div class="etiq" data-color="etiq_j"><img src="{{ asset('images/captcha/j.png') }}" /></div>
                            <div class="etiq" data-color="etiq_g"><img src="{{ asset('images/captcha/g.png') }}" /></div>
                            <div class="etiq" data-color="etiq_bl"><img src="{{ asset('images/captcha/bl.png') }}" /></div>
                            <div class="etiq" data-color="etiq_gr"><img src="{{ asset('images/captcha/gr.png') }}" /></div>
                        </div>
                    </div>#}
                    <div class="formRow center btnSubmitZone">
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}