{% extends 'base.html.twig' %}

{% set hasAdminRights = app.user.hasRole('ROLE_SUPER_ADMIN') %}

{% block pageHeader %}
    <div>{{ template }}</div>
    <div class="page-header littleScroll">
        <div class="container">
            <h2 class="color3">Fiche {{ entityName }}</h2>
            <ul class="breadcrumb">
                <li class="color3">
                    {% if entityName == "Cohorte" %}

                    {% elseif entityName == "Discipline" %}

                    {% elseif entityName == "Cours" %}
                        <a href="{{ path('itemUsers', {id: item.discipline.id, type: "discipline" }) }}"
                           class="label label-info">{{ item.discipline.nom }}</a>
                        >
                    {% endif %}
                    <a href="{{ path('itemUsers', {id: item.id, type: entityName|lower }) }}"
                       class="label label-info">{{ item.nom }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <script src="{{ asset('vendors/jquery-ui/jquery-ui.min.js') }}" type=text/javascript></script>
    <link rel="stylesheet" href="{{ asset('vendors/tablesorter/dist/css/theme.default.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/tablesorter/dist/css/jquery.tablesorter.pager.min.css') }}"/>

    <script type="text/javascript" src="{{ asset('vendors/tablesorter/dist/js/jquery.tablesorter.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('vendors/tablesorter/dist/js/jquery.tablesorter.widgets.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('vendors/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('vendors/tablesorter/dist/js/widgets/widget-output.min.js') }}"></script>
    <style>
        .sectionManager{
            border: 1px solid #ccc;
            padding: 5px 10px;
            margin-bottom: 10px;
        }
        .sectionUsersManager{
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-direction: row;
            -webkit-flex-direction: row;
            -webkit-box-orient: horizontal;
            justify-content: center;
            -webkit-justify-content: center;
            position: relative;
        }
        .sortableList{
            flex: 1;
            -ms-flex: 1;
            -webkit-flex: 1;
            -moz-box-flex: 1;
            background: #ddd;
            border: 1px solid #bbb;
            padding: 10px;
            overflow: auto;
            height: 400px;
        }
        .sectionInscrits{
            background: #eaffe7;
        }
        .sectionNonInscrits{
            background: #ffe9e6;
        }
        .userSectionLi{
            user-select: none;
            cursor: pointer;
            background: #eee;
            width: max-content;
            padding: 5px;
            margin: 3px;
            list-style-type: none;
            border-radius: 3px;
            border: #999 solid 1px;
        }
        .userSectionLi:hover{
            background: #ddd;
        }
        .tab-content>.tab-pane{
            transform: translateY(0%);
        }
        .ui-state-highlight {
            height: 25px;
            background: #eeea43;
            border:#000 solid 1px;
        }
        .sectioncontrols{
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-direction: column;
            -webkit-flex-direction: column;
            -webkit-box-orient: vertical;
            justify-content: space-around;
            -webkit-justify-content: space-around;
            align-items: center;
            -webkit-align-items: center;
            width: 90px;
        }
        .sectioncontrols .btn{
            font-size: 22px;
        }
        .controlAllUsers{
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-direction: row;
            -webkit-flex-direction: row;
            -webkit-box-orient: horizontal;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            align-items: center;
            -webkit-align-items: center;
        }
    </style>
    <script>
        jQuery(document).ready(function () {

            var typeItem = "{{ entityName }}".toLowerCase();

            $('.download').click(function (e) {
                e.preventDefault();
                var table = $(this).closest('.coloneTable').find('.tablesorter')
                table.trigger('outputTable');
            });
            $(".tablesorter.tableYes")
                .tablesorter({
                    widthFixed: true,
                    widgets: ['zebra', 'filter', 'output'],
                    widgetOptions: {
                        output_delivery: 'd',
                        output_saveFileName: 'mytable.csv'
                    }
                })
                .tablesorterPager({
                    container: $("#pagerYes"),
                    output: 'de {startRow} à {endRow} sur {totalRows} lignes',
                    size: 10
                });
            $(".tablesorter.tableNo")
                .tablesorter({
                    widthFixed: true,
                    widgets: ['zebra', 'filter', 'output'],
                    widgetOptions: {
                        output_delivery: 'd',
                        output_saveFileName: 'mytable.csv'
                    }
                })
                .tablesorterPager({
                    container: $("#pagerNo"),
                    output: 'de {startRow} à {endRow} sur {totalRows} lignes',
                    size: 10
                });
            $(".tablesorter.tableRess")
                .tablesorter({
                    widthFixed: true,
                    widgets: ['zebra', 'filter', 'output'],
                    widgetOptions: {
                        output_delivery: 'd',
                        output_saveFileName: 'mytable.csv'
                    }
                })
                .tablesorterPager({
                    container: $("#pagerRess"),
                    output: 'de {startRow} à {endRow} sur {totalRows} lignes',
                    size: 10
                });
            $(".tablesorter.tableLinkedCourses")
                .tablesorter({
                    widthFixed: true,
                    widgets: ['zebra', 'filter', 'output'],
                    widgetOptions: {
                        output_delivery: 'd',
                        output_saveFileName: 'mytable.csv'
                    }
                })
                .tablesorterPager({
                    container: $("#pageLinkedCourses"),
                    output: 'de {startRow} à {endRow} sur {totalRows} lignes',
                    size: 10
                });

            $('.btndesinscr').click(function () {
                var idUser = $(this).closest('.userLine').attr('data-userId');

                $('.modal').modal('toggle');
                $('.mode').hide();
                $('.modeDesinscr').show();
                $('.valideDesinscr').unbind('click').click(function () {
                    desinscrireUsers(typeItem, [idUser], "{{ item.id }}");
                });
            });
            $('.btninscr').click(function () {
                var idUser = $(this).closest('.userLine').attr('data-userId');
                $('.modal').modal('toggle');
                $('.mode').hide();
                $('.modeInscr').show();
                $('.valideInscr').unbind('click').click(function () {
                    inscrireUsers(typeItem, [idUser], "{{ item.id }}", $('.selectRole').val());
                });
            });
            $('.selectAll').click(function (e) {
                e.preventDefault();
                var col = $(this).closest('.coloneTable');
                var select = col.find('.selectUser:checked').length == 0;
                col.find('.selectUser').prop('checked', select);
            });
            $('.inscrSelected').click(function (e) {
                e.preventDefault();

                $('.modal').modal('toggle');
                $('.mode').hide();
                $('.modeInscr').show();
                $('.valideInscr').unbind('click').click(function () {
                    var idUsers = [];
                    $('.tableNo .selectUser:checked').each(function () {
                        var idUser = $(this).closest('.userLine').attr('data-userId');
                        idUsers.push(idUser);
                    });
                    inscrireUsers(typeItem, idUsers, "{{ item.id }}", $('.selectRole').val());
                });
            });
            $('.cancel').click(function () {
                $('.modal').modal('toggle');
            });
            $('.withSelectedInscrits').on('change', function () {
                var action = $(this).val();
                var idUsers = [];
                $('.tableYes .selectUser:checked').each(function () {
                    var idUser = $(this).closest('.userLine').attr('data-userId');
                    idUsers.push(idUser);
                });
                $('.modal').modal('toggle');
                $('.mode').hide();

                if (action === 'desinscrSelected') {
                    $('.modeDesinscr').show();
                    $('.valideDesinscr').unbind('click').click(function () {
                        desinscrireUsers(typeItem, idUsers, "{{ item.id }}");
                    });
                } else if (action === 'changeRoleSelected') {
                    $('.modeChangeRole').show();

                    $('.valideChangeRole').unbind('click').click(function () {
                        changeRoleUsers(typeItem, idUsers, "{{ item.id }}", $('.selectRole').val());
                    });
                }
            });

            $(".sortableList").each(function(){
                const sectionId = $(this).attr('data-sectionId');
                $(this).sortable({
                    placeholder: "ui-state-highlight",
                    connectWith: ".sortableList[data-sectionId="+sectionId+"]",
                    receive: function( event, ui ) {
                        var sectionId = $(this).closest('.sectionManager').attr('data-sectionId');
                        if($(this).hasClass('sectionInscrits')){
                            $.ajax({
                                type: "POST",
                                url: "{{ path('sectionAutorizeUsers_ajax') }}",
                                data: {
                                    id: sectionId,
                                    users: [ui.item.attr('data-userid')]
                                },
                                dataType: "json",
                                success: function (response) {
                                }
                            });
                        }else{
                            $.ajax({
                                type: "POST",
                                url: "{{ path('sectionUnAutorizeUsers_ajax') }}",
                                data: {
                                    id: sectionId,
                                    users: [ui.item.attr('data-userid')]
                                },
                                dataType: "json",
                                success: function (response) {
                                }
                            });
                        }
                    }
                }).disableSelection();
            });

            //cache les utilisateurs des sections dont l'accès n'est pas filtré
            $('.sectionManagerChecker').each(function(){
                if(!$(this).is(":checked")){
                    $(this).closest('.sectionManager').find('.sectionUsersHighManager').hide();
                }
                $(this).click(function(){
                    const isChecked = $(this).is(":checked");
                    const sectionId = $(this).closest('.sectionManager').attr('data-sectionId');
                    if(isChecked){
                        $(this).closest('.sectionManager').find('.sectionUsersHighManager').show();
                    }else{
                        $(this).closest('.sectionManager').find('.sectionUsersHighManager').hide();
                    }
                    $.ajax({
                        type: "POST",
                        url: "{{ path('updateSectionAccesCondition_ajax') }}",
                        data: {
                            id: sectionId,
                            isAccesConditionne: isChecked
                        },
                        dataType: "json",
                        success: function (response) {

                        }
                    });
                });
            });

            $('.btnSelectedInSection').click(function(){
                const sectionManager = $(this).closest('.sectionManager');
                let usersToChange = [];
                sectionManager.find('.sectionNonInscrits .sectionUserSelector:checked').each(function(){
                    usersToChange.push($(this).closest('.userSectionLi').attr('data-userId'));
                });
                $.ajax({
                    type: "POST",
                    url: "{{ path('sectionAutorizeUsers_ajax') }}",
                    data: {
                        id: sectionManager.attr('data-sectionId'),
                        users: usersToChange
                    },
                    dataType: "json",
                    success: function (response) {
                        sectionManager.find('.sectionNonInscrits .sectionUserSelector:checked').each(function(){
                            $(this).closest('.userSectionLi').appendTo(sectionManager.find('.sectionInscrits'));
                            $(this).prop( "checked", false );
                        });
                        $(".sortableList").sortable( "refresh" );
                    }
                });
            });

            $('.btnSelectedOutSection').click(function(){
                const sectionManager = $(this).closest('.sectionManager');
                let usersToChange = [];
                sectionManager.find('.sectionInscrits .sectionUserSelector:checked').each(function(){
                    usersToChange.push($(this).closest('.userSectionLi').attr('data-userId'));
                });
                $.ajax({
                    type: "POST",
                    url: "{{ path('sectionUnAutorizeUsers_ajax') }}",
                    data: {
                        id: sectionManager.attr('data-sectionId'),
                        users: usersToChange
                    },
                    dataType: "json",
                    success: function (response) {
                        sectionManager.find('.sectionInscrits .sectionUserSelector:checked').each(function(){
                            $(this).closest('.userSectionLi').appendTo(sectionManager.find('.sectionNonInscrits'));
                            $(this).prop( "checked", false );
                        });
                        $(".sortableList").sortable( "refresh" );
                    }
                });
            });

            $('.btnSelectAllIn').click(function(){
                var nbTotal = $(this).closest('.sectionUsersHighManager').find('.sectionInscrits .sectionUserSelector').length;
                var nbChecked = $(this).closest('.sectionUsersHighManager').find('.sectionInscrits .sectionUserSelector:checked').length;
                var todo = nbTotal !== nbChecked;
                $(this).closest('.sectionUsersHighManager').find('.sectionInscrits .sectionUserSelector').prop('checked', todo);
            });
            $('.btnSelectAllOut').click(function(){
                var nbTotal = $(this).closest('.sectionUsersHighManager').find('.sectionNonInscrits .sectionUserSelector').length;
                var nbChecked = $(this).closest('.sectionUsersHighManager').find('.sectionNonInscrits .sectionUserSelector:checked').length;
                var todo = nbTotal !== nbChecked;
                $(this).closest('.sectionUsersHighManager').find('.sectionNonInscrits .sectionUserSelector').prop('checked', todo);
            });

            function changeRoleUsers(typeItem, idUsers, itemId, roleId) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('changeRoleUsers_ajax') }}",
                    data: {
                        id: itemId,
                        idUsers: idUsers,
                        idRole: roleId,
                        idItem: itemId,
                        typeItem: typeItem,
                    },
                    dataType: "json",
                    success: function (response) {
                        setTimeout(function () {
                            window.location.href = window.location.href;
                        }, 300);
                    }
                });
            }

            function inscrireUsers(typeItem, idUsers, itemId, roleId) {
                if (typeItem == 'session') {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('inscrSessUsers_ajax') }}",
                        data: {
                            id: itemId,
                            idUsers: idUsers,
                            idRole: roleId
                        },
                        dataType: "json",
                        success: function (response) {
                            setTimeout(function () {
                                window.location.href = window.location.href;
                            }, 300);
                        }
                    });
                } else {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('inscrireUsers_ajax') }}",
                        data: {
                            idItem: itemId,
                            idUsers: idUsers,
                            typeItem: typeItem,
                            idRole: roleId
                        },
                        dataType: "json",
                        success: function (response) {
                            setTimeout(function () {
                                window.location.href = window.location.href;
                            }, 300);
                        }
                    });
                }
            }

            function desinscrireUsers(typeItem, idUsers, itemId) {
                if (typeItem == 'session') {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('desinscrSessUsers_ajax') }}",
                        data: {
                            id: itemId,
                            idUsers: idUsers
                        },
                        dataType: "json",
                        success: function (response) {
                            setTimeout(function () {
                                window.location.href = window.location.href;
                            }, 300);
                        }
                    });
                } else {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('desInscrireUsers_ajax') }}",
                        data: {
                            idItem: itemId,
                            idUsers: idUsers,
                            typeItem: typeItem
                        },
                        dataType: "json",
                        success: function (response) {
                            setTimeout(function () {
                                window.location.href = window.location.href;
                            }, 300);
                        }
                    });
                }
            }
        });
    </script>

    <div class="container mt-220 mb-40">
        <div class="row">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="{% if roleUser != 'admin' and roleUser != "Referent" %}active{% endif %}">
                    <a href="#InscrDesinscr" aria-controls="InscrDesinscr" role="tab" data-toggle="tab">
                        <i class="fa fa-external-link  fa-fw"></i>
                        Inscrits</a>
                </li>
                {% if (entityName == "Cours" or entityName == "Session") and ressources is defined %}
                    <li role="presentation">
                        <a href="#Ressources" aria-controls="Ressources" role="tab" data-toggle="tab">
                            <i class="fa fa-database fa-fw"></i>
                            Ressources</a>
                    </li>
                {% else %}
                    <li role="presentation">
                        <a href="#linkedCourses" aria-controls="linkedCourses" role="tab" data-toggle="tab">
                            <i class="fa fa-database fa-fw"></i>
                            Cours contenus</a>
                    </li>
                {% endif %}
                {% if roleUser == 'admin' or roleUser == "Referent" %}
                    <li role="presentation" class="active">
                        <a href="#InfosGen" aria-controls="InfosGen" role="tab" data-toggle="tab">
                            <i class="fa fa-university fa-fw"></i> Informations générales ({{ roleUser }})</a>
                    </li>
                {% endif %}
                {% if (entityName == "Cours") and ressources is defined %}
                <li role="presentation">
                    <a href="#Sections" aria-controls="Sections" role="tab" data-toggle="tab">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        Sections</a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content">
                {% if roleUser == 'admin' or roleUser == "Referent" %}
                    <div role="tabpanel" class="tab-pane fade in active" id="InfosGen">
                        <div class="containerItemForm">
                            {% if entityName == "Cours" %}
                                {{ form_start(form) }}
                                <div class="errorsPart">
                                    {{ form_errors(form) }}
                                </div>
                                {{ form_row(form.nom) }}
                                <div>
                                    {{ form_label(form.imageFile) }}
                                    {{ form_widget(form.imageFile) }}
                                </div>

                                <div>
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">
                                        <img style="width:300px;" alt="" class="" src="{{ asset('images') }}/cours/{{ item.imageFilename }}"/>
                                    </div>
                                </div>

                                {{ form_end(form) }}
                            {% else %}
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                {{ form_end(form) }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if (entityName == "Cours") and ressources is defined %}
                <div role="tabpanel" class="tab-pane" id="Sections">
                    {% for section in item.sections %}
                        {% set sectionId = section.id %}
                        {% set autorizedIds = [] %}
                        <div class="sectionManager" data-isAccesConditionne="{{ section.isAccesConditionne }}" data-sectionId="{{ sectionId }}">
                            <label for="section{{ sectionId }}">Accès conditionné</label><input id="section{{ sectionId }}" class="sectionManagerChecker" type="checkbox" {% if section.isAccesConditionne %}checked{% endif %} />
                            <div class="sectionManagerInfos">
                                <h3>{{ section.nom }}</h3>
                                <div class="sectionUsersHighManager">
                                    <div class="controlAllUsers">
                                        <div class="btn btn-sm btn-info btnSelectAllIn">Tous</div>
                                        <div class="btn btn-sm btn-info btnSelectAllOut">Tous</div>
                                    </div>
                                    <div class="sectionUsersManager">
                                        <ul class="sortableList sectionInscrits" data-sectionId="{{ sectionId }}">
                                            {% for autorizedUser in section.autorizedUsers %}
                                                <li class="userSectionLi" data-userId="{{ autorizedUser.id }}"><input class="sectionUserSelector" type="checkbox" /> {{ autorizedUser.firstname }} {{ autorizedUser.lastname }} ({{ autorizedUser.email }})</li>
                                                {% set autorizedIds = autorizedIds|merge([autorizedUser.id]) %}
                                            {% endfor %}
                                        </ul>
                                        <div class="sectioncontrols">
                                            <div class="btn btn-sm btn-info btnSelectedInSection"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
                                            <div class="btn btn-sm btn-info btnSelectedOutSection"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                                        </div>
                                        <ul class="sortableList sectionNonInscrits" data-sectionId="{{ sectionId }}">
                                            {% for user in usersHavingAccess if user.user.id not in autorizedIds %}
                                                <li class="userSectionLi" data-userId="{{ user.user.id }}"><input class="sectionUserSelector" type="checkbox" /> {{ user.user.firstname }} {{ user.user.lastname }} ({{ user.user.email }})</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>


                    {% endfor %}
                </div>
                {% endif %}
                <div role="tabpanel" class="tab-pane fade in active" id="InscrDesinscr">
                    <div class="coloneTable col-xl-6">
                        <p>Utilisateurs qui sont :</p>
                        <ul>
                            <li>Inscrits</li>
                            <li>ou inscrits à un niveau supérieur (cohorte ou discipline)</li>
                        </ul>
                        <table class="tablesorter tableYes">
                            <thead>
                            <tr>
                                <th data-filter="false"></th>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th class="filter-select">Institut</th>
                                <th class="filter-select">Statut</th>
                                <th class="filter-select">Role</th>
                                <th>Cohortes</th>
                                {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                    <th>Désinscrire</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in usersHavingAccess %}
                                {% set userId = user.user.id %}
                                <tr class="userLine" data-userId="{{ userId }}">
                                    <td>
                                        {% if user.isInscrit %}
                                            <input class="selectUser" type="checkbox">
                                        {% endif %}
                                    </td>
                                    <td><a href="{{ path('user', {id:userId }) }}">{{ userId }}</a></td>
                                    <td><a href="{{ path('user', {id:userId }) }}">{{ user.user.email }}</a>
                                    </td>
                                    <td>{{ user.user.firstname }}</td>
                                    <td>{{ user.user.lastname }}</td>
                                    <td>{{ user.user.institut }}</td>
                                    <td>{{ user.user.statut }}</td>
                                    <td>{{ user.role.nom|replace({ 'Enseignant': 'Enseignant correcteur' }) }}</td>
                                    <td>
                                        {% for key, inscr in user.myCohs %}
                                            <a href="{{ path('itemUsers', {id: inscr.cohorte.id, type: "cohorte"}) }}">{{ inscr.cohorte.nom }}
                                                ({{ inscr.role.nom|replace({ 'Enseignant': 'Enseignant correcteur' }) }}
                                                ){% if key < user.myCohs|length-1 %}, {% endif %}</a>
                                        {% endfor %}
                                    </td>
                                    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                        <td class="btnCellFilter">
                                            {% if user.isInscrit %}
                                                <i class="btndesinscr fa fa-sign-out" aria-hidden="true"></i>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div id="pagerYes" class="pager">
                            <form>
                                <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}"
                                     class="first"/>
                                <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}"
                                     class="prev"/>
                                <input type="text" class="pagedisplay"/>
                                <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}"
                                     class="next"/>
                                <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}"
                                     class="last"/>
                                <select class="pagesize">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="all">Toutes les lignes</option>
                                </select>
                                {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                    <button class="download">Télécharger le CSV</button>
                                    <button class="selectAll">Sélectionner tous</button>
                                    <select class="withSelectedInscrits">
                                        <option>Avec les sélectionnés....</option>
                                        <option value="changeRoleSelected">Changer de rôle</option>
                                        <option value="desinscrSelected">Désinscrire</option>
                                    </select>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                        <div class="coloneTable col-xl-6">
                            <p>Utilisateurs qui n'ont aucun accès</p>
                            <table class="tablesorter tableNo">
                                <thead>
                                <tr>
                                    <th data-filter="false"></th>
                                    <th>Id</th>
                                    <th>Email</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th class="filter-select">Institut</th>
                                    <th class="filter-select">Statut</th>
                                    <th>Cohortes</th>
                                    <th>Inscrire</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in usersNoHavingAccess %}
                                    {% set userId = user.user.id %}
                                    <tr class="userLine" data-userId="{{ userId }}">
                                        <td><input class="selectUser" type="checkbox"></td>
                                        <td><a href="{{ path('user', {id:userId }) }}">{{ userId }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('user', {id:userId }) }}">{{ user.user.email }}</a>
                                        </td>
                                        <td>{{ user.user.firstname }}</td>
                                        <td>{{ user.user.lastname }}</td>
                                        <td>{{ user.user.institut }}</td>
                                        <td>{{ user.user.statut }}</td>
                                        <td>
                                            {% for key, inscr in user.myCohs %}
                                                {{ inscr.cohorte.nom }} ({{ inscr.role.nom|replace({ 'Enseignant': 'Enseignant correcteur' }) }}){% if key < user.myCohs|length-1 %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td class="btnCellFilter"><i class="btninscr fa fa-sign-in"
                                                                     aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div id="pagerNo" class="pager">
                                <form>
                                    <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}"
                                         class="first"/>
                                    <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}"
                                         class="prev"/>
                                    <input type="text" class="pagedisplay"/>
                                    <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}"
                                         class="next"/>
                                    <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}"
                                         class="last"/>
                                    <select class="pagesize">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="all">Toutes les lignes</option>
                                        <option value="all">Toutes les lignes</option>
                                    </select>
                                    <button class="download">Télécharger le CSV</button>
                                    <button class="inscrSelected">Inscrire les sélectionnés</button>
                                    <button class="selectAll">Sélectionner tous</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if entityName == "Cours" and ressources is defined %}
                    <div role="tabpanel" class="tab-pane" id="Ressources">
                        <div class="coloneTable col-xl-6">
                            <p>Ressources présentes dans le cours</p>
                            <table class="tablesorter tableRess">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th class="filter-select">Type</th>
                                    <th>Nombre de clicks</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ressoure in ressources %}
                                    <tr class="userLine">
                                        <td>{{ ressoure.ressource.id }}</td>
                                        <td>{{ ressoure.ressource.nom }}</td>
                                        <td>{{ ressoure.ressource.type }}</td>
                                        <td>{{ ressoure.stats|length }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div id="pagerRess" class="pager">
                                <form>
                                    <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}"
                                         class="first"/>
                                    <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}"
                                         class="prev"/>
                                    <input type="text" class="pagedisplay"/>
                                    <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}"
                                         class="next"/>
                                    <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}"
                                         class="last"/>
                                    <select class="pagesize">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="all">Toutes les lignes</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div role="tabpanel" class="tab-pane" id="linkedCourses">
                        <div class="coloneTable col-xl-6">
                            <table class="tablesorter tableLinkedCourses">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Discipline</th>
                                    <th>Cours</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for linkedCourse in linkedCourses %}
                                    <tr class="userLine">
                                        <td>{{ linkedCourse.id }}</td>
                                        <td>
                                            <a href="{{ path('itemUsers', {id: linkedCourse.discipline.id, type: "discipline"}) }}">{{ linkedCourse.discipline.nom }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('itemUsers', {id: linkedCourse.id, type: "cours"}) }}">{{ linkedCourse.nom }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div id="pagerLinkedCourses" class="pager">
                                <form>
                                    <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}"
                                         class="first"/>
                                    <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}"
                                         class="prev"/>
                                    <input type="text" class="pagedisplay"/>
                                    <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}"
                                         class="next"/>
                                    <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}"
                                         class="last"/>
                                    <select class="pagesize">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="all">Toutes les lignes</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body" data-contentModal="devoirDisplay" data-idItem=""
                     style="background:#aaa; background-size:cover">
                    <div class="row">
                        <div class="bginverse">
                            <div class="mode modeDesinscr">
                                <div class="alert alert-danger mb-10">
                                    <strong>Attention!</strong> Voulez-vous vraiment procéder à cette désinscription ?
                                </div>

                                <div class="row mb-10" style="text-align: center">
                                    <div class="btn btn-sm btn-info mb-3 valideDesinscr">Valider</div>
                                    <div class="btn btn-sm btn-info mb-3 cancel">Annuler</div>
                                </div>
                            </div>
                            <div class="mode modeChangeRole">
                                <div class="alert alert-info mb-10">
                                    Sélectionnez le role que vous voulez attribuer à ces utilisateurs
                                    <select class="selectRole">
                                        {% for role in roles %}
                                            {% if role.nom != "Admin" %}
                                                <option value="{{ role.id }}">{{ role.nom }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="row mb-10" style="text-align: center">
                                    <div class="btn btn-sm btn-info mb-3 valideChangeRole">Valider</div>
                                    <div class="btn btn-sm btn-info mb-3 cancel">Annuler</div>
                                </div>
                            </div>
                            <div class="mode modeInscr">
                                <div class="alert alert-info mb-10">
                                    Sélectionnez un role pour cette inscription
                                    <select class="selectRole">
                                        {% for role in roles %}
                                            {% if role.nom != "Admin" %}
                                                <option value="{{ role.id }}">{{ role.nom|replace({ 'Enseignant': 'Enseignant correcteur' }) }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="row mb-10" style="text-align: center">
                                    <div class="btn btn-sm btn-info mb-3 valideInscr">Valider</div>
                                    <div class="btn btn-sm btn-info mb-3 cancel">Annuler</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}