{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div>{{ template }}</div>
    <div class="page-header littleScroll">
        <div class="container">
            <h2 class="color3">Fiche {{ entityName }}</h2>
            <ul class="breadcrumb">
                <li class="color3">
                    {% if entityName == "Cohorte" %}

                    {% elseif entityName == "Discipline" %}

                    {% elseif entityName == "Cours" %}
                        <a href="{{ path('itemUsers', {id: item.discipline.id, type: "discipline" }) }}" class="label label-info">{{ item.discipline.nom }}</a>
                        >
                    {% endif %}
                    <a href="{{ path('itemUsers', {id: item.id, type: entityName|lower }) }}" class="label label-info">{{ item.nom }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="{{ asset('vendors/tablesorter/dist/css/theme.default.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendors/tablesorter/dist/css/jquery.tablesorter.pager.min.css') }}" />

    <script type="text/javascript" src="{{ asset('vendors/tablesorter/dist/js/jquery.tablesorter.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/tablesorter/dist/js/jquery.tablesorter.widgets.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/tablesorter/dist/js/widgets/widget-output.min.js') }}"></script>
    <style>
</style>
    <script>
        jQuery(document).ready(function () {

            var typeItem = "{{ entityName }}".toLowerCase();

            $('.download').click(function(e){
                e.preventDefault();
                var table = $(this).closest('.coloneTable').find('.tablesorter')
                table.trigger('outputTable');
            });
            $(".tablesorter.tableYes")
                    .tablesorter({
                        widthFixed: true,
                        widgets: ['zebra', 'filter', 'output'],
                        widgetOptions : {
                              output_delivery      : 'd',
                              output_saveFileName  : 'mytable.csv'
                        }
                    })
                    .tablesorterPager({
                        container: $("#pagerYes"),
                        size: 10
                    });
            $(".tablesorter.tableNo")
                    .tablesorter({
                        widthFixed: true,
                        widgets: ['zebra', 'filter', 'output'],
                        widgetOptions : {
                              output_delivery      : 'd',
                              output_saveFileName  : 'mytable.csv'
                        }
                    })
                    .tablesorterPager({
                        container: $("#pagerNo"),
                        size: 10
                    });

            $('.btndesinscr').click(function(){
                var idUser = $(this).closest('.userLine').attr('data-userId');

                $('.modal').modal('toggle');
                $('.valideDesinscr').unbind('click').click(function(){
                    desinscrireUser(typeItem, idUser, "{{ item.id }}");
                });
                $('.cancelDesinscr').unbind('click').click(function(){
                    $('.modal').modal('toggle');
                });
            });
            $('.btninscr').click(function(){
                var idUser = $(this).closest('.userLine').attr('data-userId');
                inscrireUser(typeItem, idUser, "{{ item.id }}");
            });
            $('.selectAll').click(function(e){
                e.preventDefault();
                var col = $(this).closest('.coloneTable');
                var select = col.find('.selectUser:checked').length == 0;
                col.find('.selectUser').prop('checked', select);
            });
            $('.inscrSelected').click(function(e){
                e.preventDefault();

                $('.tableNo .selectUser:checked').each(function(){
                    var idUser = $(this).closest('.userLine').attr('data-userId');
                    inscrireUser(typeItem, idUser, "{{ item.id }}");

                });
            });
            $('.desinscrSelected').click(function(e){
                e.preventDefault();
                $('.tableYes .selectUser:checked').each(function(){
                    var idUser = $(this).closest('.userLine').attr('data-userId');

                    $('.modal').modal('toggle');
                    $('.valideDesinscr').unbind('click').click(function(){
                        desinscrireUser(typeItem, idUser, "{{ item.id }}");
                    });
                    $('.cancelDesinscr').unbind('click').click(function(){
                        $('.modal').modal('toggle');
                    });
                });
            });

            function inscrireUser(typeItem, idUser, itemId){
                if(typeItem == 'session'){
                    $.ajax({
                        type: "POST",
                        url: "{{path('inscrSessUser_ajax')}}",
                        data: {
                            id: itemId,
                            idUser: idUser
                        },
                        dataType: "json",
                        success: function (response) {
                            setTimeout(function(){
                                window.location.href = window.location.href;
                            }, 300);
                        }
                    });
                }else{
                    $.ajax({
                        type: "POST",
                        url: "{{path('inscrireUser_ajax')}}",
                        data: {
                            idItem: itemId,
                            idUser: idUser,
                            typeItem: typeItem
                        },
                        dataType: "json",
                        success: function (response) {
                            setTimeout(function(){
                                window.location.href = window.location.href;
                            }, 300);
                        }
                    });
                }
            }
            function desinscrireUser(typeItem, idUser, itemId){
                if(typeItem == 'session'){
                    $.ajax({
                        type: "POST",
                        url: "{{path('desinscrSessUser_ajax')}}",
                        data: {
                            id: itemId,
                            idUser: idUser
                        },
                        dataType: "json",
                        success: function (response) {
                            setTimeout(function(){
                                window.location.href = window.location.href;
                            }, 300);
                        }
                    });
                }else{
                    $.ajax({
                        type: "POST",
                        url: "{{path('desInscrireUser_ajax')}}",
                        data: {
                            idItem: itemId,
                            idUser: idUser,
                            typeItem: typeItem
                        },
                        dataType: "json",
                        success: function (response) {
                            setTimeout(function(){
                                window.location.href = window.location.href;
                            }, 300);
                        }
                    });
                }
            }
        });
    </script>

    <div class="container mt-220 mb-40">
        <div class="row">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#InscrDesinscr" aria-controls="InscrDesinscr" role="tab" data-toggle="tab"><i class="fa fa-external-link  fa-fw"></i> Inscriptions</a></li>
                <li role="presentation"><a href="#InfosGen" aria-controls="InfosGen" role="tab" data-toggle="tab"><i class="fa fa-university fa-fw"></i> Informations générales</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade" id="InfosGen">
                    <div class="containerItemForm">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade in active" id="InscrDesinscr">
                    <div class="coloneTable col-xl-6">
                        <p>Utilisateurs qui sont :</p>
                        <ul>
                            <li>Inscrits</li>
                            <li>ou inscrits à un niveau supérieur (cohorte ou discipline)</li>
                        </ul>
                        <table class="tablesorter tableYes">
                            <thead>
                            <tr>
                                <th data-filter="false"></th>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th class="filter-select">Institut</th>
                                <th>Role</th>
                                <th>Cohortes</th>
                                <th>Désinscrire</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in usersHavingAccess %}
                                <tr class="userLine" data-userId="{{ user.user.id }}">
                                    <td><input class="selectUser" type="checkbox"></td>
                                    <td><a href="{{ path('user', {id:user.user.id }) }}">{{ user.user.id }}</a></td>
                                    <td><a href="{{ path('user', {id:user.user.id }) }}">{{ user.user.email }}</a></td>
                                    <td>{{ user.user.firstname }}</td>
                                    <td>{{ user.user.lastname }}</td>
                                    <td>{{ user.user.institut }}</td>
                                    <td>{{ user.role.nom }}</td>
                                    <td>
                                        {% for coh in user.myCohs %}
                                            <a href="{{ path('itemUsers', {id: coh.id, type: "cohorte"}) }}">{{ coh.nom }}</a>
                                        {% endfor %}
                                    </td>
                                    <td class="btnCellFilter">
                                        {% if user.isInscrit %}
                                            <i class="btndesinscr fa fa-sign-out" aria-hidden="true"></i>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div id="pagerYes" class="pager">
                            <form>
                                <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}" class="first"/>
                                <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}" class="prev"/>
                                <input type="text" class="pagedisplay"/>
                                <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}" class="next"/>
                                <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}" class="last"/>
                                <select class="pagesize">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="all">All Rows</option>
                                </select>
                                <button class="download">Télécharger le CSV</button>
                                <button class="desinscrSelected">Désinscrire les sélectionnés</button>
                                <button class="selectAll">Sélectionner tous</button>
                            </form>
                        </div>
                    </div>
                    <div class="coloneTable col-xl-6">
                        <p>Utilisateurs qui n'ont aucun accès</p>
                        <table class="tablesorter tableNo">
                            <thead>
                            <tr>
                                <th data-filter="false"></th>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th class="filter-select">Institut</th>
                                <th>Cohortes</th>
                                <th>Inscrire</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in usersNoHavingAccess %}
                                <tr class="userLine" data-userId="{{ user.user.id }}">
                                    <td><input class="selectUser" type="checkbox"></td>
                                    <td><a href="{{ path('user', {id:user.user.id }) }}">{{ user.user.id }}</a></td>
                                    <td><a href="{{ path('user', {id:user.user.id }) }}">{{ user.user.email }}</a></td>
                                    <td>{{ user.user.firstname }}</td>
                                    <td>{{ user.user.lastname }}</td>
                                    <td>{{ user.user.institut }}</td>
                                    <td>
                                    {% for coh in user.myCohs %}
                                            {{ coh.nom }}
                                        {% endfor %}
                                    </td>
                                    <td class="btnCellFilter"><i class="btninscr fa fa-sign-in" aria-hidden="true"></i></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div id="pagerNo" class="pager">
                            <form>
                                <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}" class="first"/>
                                <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}" class="prev"/>
                                <input type="text" class="pagedisplay"/>
                                <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}" class="next"/>
                                <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}" class="last"/>
                                <select class="pagesize">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="all">All Rows</option>
                                </select>
                                <button class="download">Télécharger le CSV</button>
                                <button class="inscrSelected">Inscrire les sélectionnés</button>
                                <button class="selectAll">Sélectionner tous</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <div class="modal-body" data-contentModal="devoirDisplay" data-idItem="" style="background:#aaa; background-size:cover">
                    <div class="row">
                        <div class="bginverse">
                            <div class="">
                                <div class="alert alert-danger mb-10">
                                    <strong>Attention!</strong> Voulez-vous vraiment procéder à cette désinscription ?
                                </div>

                                <div class="row mb-10" style="text-align: center">
                                    <div class="btn btn-sm btn-info mb-3 valideDesinscr">Valider</div>
                                    <div class="btn btn-sm btn-info mb-3 cancelDesinscr">Annuler</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}