{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div>{{ template }}</div>
    <div class="page-header littleScroll">
        <div class="container">
            <h2 class="color3">Fiche Utilisateur</h2>
            <ul class="breadcrumb">
                <li class="color3">
                    <a href="{{ path('usersManag') }}" class="label label-info">Gestion des utilisateurs</a>
                    >
                    <a href="{{ path('user', {id: user.id} ) }}"
                       class="label label-info">{{ user.firstname }} {{ user.lastname }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="menuActionInscrUser">
        <div class="btnMenuActionInscrUser btnInscrire">
            <i class="fa fa-sign-in"></i>Inscrire
        </div>
        <div class="btnMenuActionInscrUser btnDesInscrire">
            <i class="fa fa-sign-out"></i>Désinscrire
        </div>
        <a class="btnMenuActionInscrUser btnOuvrirItem" href="">
            <i class="fa fa-folder-open-o"></i>Ouvrir
        </a>
        <div class="btnMenuActionInscrUser btnAlert btnAnnuler">
            <i class="fa fa-ban"></i>Annuler
        </div>
    </div>
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="{{ asset('vendors/tablesorter/dist/css/theme.default.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendors/tablesorter/dist/css/jquery.tablesorter.pager.min.css') }}"/>

    <script type="text/javascript" src="{{ asset('vendors/tablesorter/dist/js/jquery.tablesorter.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('vendors/tablesorter/dist/js/jquery.tablesorter.widgets.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('vendors/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            $('.modal').modal();
            $('.modal').modal('toggle');

            var filtr_coh = '.filtred_item[data-typeItem=cohorte]';
            var filtr_dis = '.filtred_item[data-typeItem=discipline]';
            var filtr_cou = '.filtred_item[data-typeItem=cours]';

            $(filtr_coh).mouseover(function () {
                if (!$('.verrouille_item').length) {
                    $('.surligne').removeClass('surligne');
                    $(this).addClass('surligne');
                    var idCoh = $(this).attr('data-idItem');
                    $(filtr_dis + ', ' + filtr_cou).each(function () {
                        var cohsList = $(this).attr('data-cohs').split(',');
                        if (jQuery.inArray(idCoh, cohsList) != -1) {
                            $(this).addClass('surligne')/*.prependTo($(this).parent())*/;
                        }
                    });
                    $(filtr_cou).each(function () {
                        var discId = $(this).attr('data-discipline');
                        if ($('[data-idItem=' + discId + ']').hasClass('surligne')) {
                            $(this).addClass('surligne')/*.prependTo($(this).parent())*/;
                        }
                    });
                }
            });
            $(filtr_dis).mouseover(function () {
                if (!$('.verrouille_item').length) {
                    $('.surligne').removeClass('surligne');
                    $(this).addClass('surligne');
                    var idDis = $(this).attr('data-idItem');
                    $(filtr_cou).each(function () {
                        var discId = $(this).attr('data-discipline');
                        if (discId == idDis) {
                            $(this).addClass('surligne')/*.prependTo($(this).parent())*/;
                        }
                    });
                }
            });
            $(filtr_cou).mouseover(function () {
                if (!$('.verrouille_item').length) {
                    $('.surligne').removeClass('surligne');
                    $(this).addClass('surligne');
                }
            });

            $('.filtred_item').click(function () {
                $('.btnMenuActionInscrUser').hide();
                $('.btnAnnuler, .btnOuvrirItem').show();
                $(this).addClass('verrouille_item');
                $('.menuActionInscrUser').show();
                $('.btnOuvrirItem').attr('href', $(this).attr('data-itemHref'));
                if ($(this).attr('data-filtrehasaccess') == 1) {

                } else {
                    if ($(this).attr('data-filtreisinscrit') == 1) {
                        $('.btnDesInscrire').show();
                    } else {
                        $('.btnInscrire').show();
                    }
                }
            });
            $('.btnAnnuler').click(function () {
                $('.verrouille_item').removeClass('verrouille_item');
                $('.menuActionInscrUser').hide();
            });

            $('.btnInscrire').click(function () {
                var typeItem = $('.verrouille_item').attr('data-typeItem');
                var idItem = $('.verrouille_item').attr('data-idItem');
                var idUser = $('[data-userIdFiche]').attr('data-userIdFiche');

                $('.modal').modal('toggle');
                $('.modeDesinscr').hide();
                $('.modeInscr').show();

                $('.valideInscr').unbind('click').click(function () {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('inscrireUser_ajax') }}",
                        data: {
                            idItem: idItem,
                            idUser: idUser,
                            typeItem: typeItem,
                            idRole: $('.selectRole').val()

                        },
                        dataType: "json",
                        success: function (response) {
                            window.location.href = window.location.href.replace(/[\?#].*|$/, "?cours");
                        }
                    });
                });
            });
            $('.btnDesInscrire').click(function () {
                var typeItem = $('.verrouille_item').attr('data-typeItem');
                var idItem = $('.verrouille_item').attr('data-idItem');
                var idUser = $('[data-userIdFiche]').attr('data-userIdFiche');
                $('.modal').modal('toggle');
                $('.modeDesinscr').show();
                $('.modeInscr').hide();

                $('.causeModal').hide();
                $('.causeModal.desinscr').show();

                $('.valideDesinscr').unbind('click').click(function () {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('desInscrireUser_ajax') }}",
                        data: {
                            idItem: idItem,
                            idUser: idUser,
                            typeItem: typeItem
                        },
                        dataType: "json",
                        success: function (response) {
                            window.location.href = window.location.href.replace(/[\?#].*|$/, "?cours");
                        }
                    });
                });
            });

            $(".tablesorter").tablesorter({
                widthFixed: true,
                widgets: ['zebra', 'filter']
            });

            $('.btninscrSess').click(function () {
                var idUser = $('[data-userIdFiche]').attr('data-userIdFiche');
                var idSession = $(this).closest('.sessionLine').attr('data-sessionId');
                $('.modal').modal('toggle');
                $('.modeDesinscr').hide();
                $('.modeInscr').show();

                $('.valideInscr').unbind('click').click(function () {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('inscrSessUser_ajax') }}",
                        data: {
                            id: idSession,
                            idUser: idUser,
                            idRole: $('.selectRole').val()
                        },
                        dataType: "json",
                        success: function (response) {
                            window.location.href = window.location.href.replace(/[\?#].*|$/, "?sessions");
                        }
                    });
                });
            });

            function desinscrireUserSession(idUser, idSession) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('desinscrSessUser_ajax') }}",
                    data: {
                        id: idSession,
                        idUser: idUser
                    },
                    dataType: "json",
                    success: function (response) {
                        window.location.href = window.location.href.replace(/[\?#].*|$/, "?sessions");
                    }
                });
            }

            $('.btndesinscrSess').click(function () {
                var idUser = $('[data-userIdFiche]').attr('data-userIdFiche');
                var idSession = $(this).closest('.sessionLine').attr('data-sessionId');

                $('.modal').modal('toggle');
                $('.modeDesinscr').show();
                $('.modeInscr').hide();

                $('.causeModal').hide();
                $('.causeModal.desinscr').show();
                $('.valideDesinscr').unbind('click').click(function () {
                    desinscrireUserSession(idUser, idSession);
                });
            });
            $('.btninscrCoh').click(function () {
                var idUser = $('[data-userIdFiche]').attr('data-userIdFiche');
                var idCoh = $(this).closest('.cohorteLine').attr('data-cohorteId');

                $('.modal').modal('toggle');
                $('.modeDesinscr').hide();
                $('.modeInscr').show();

                $('.valideInscr').unbind('click').click(function () {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('inscrireUser_ajax') }}",
                        data: {
                            idItem: idCoh,
                            idUser: idUser,
                            typeItem: 'cohorte',
                            idRole: $('.selectRole').val()
                        },
                        dataType: "json",
                        success: function (response) {
                            window.location.href = window.location.href.replace(/[\?#].*|$/, "?cohortes");
                        }
                    });
                });
            });

            function desinscrireUserCohorte(idUser, idCoh) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('desInscrireUser_ajax') }}",
                    data: {
                        idItem: idCoh,
                        idUser: idUser,
                        typeItem: 'cohorte'
                    },
                    dataType: "json",
                    success: function (response) {
                        window.location.href = window.location.href.replace(/[\?#].*|$/, "?cohortes");
                    }
                });
            }

            $('.btndesinscrCoh').click(function () {
                var idUser = $('[data-userIdFiche]').attr('data-userIdFiche');
                var idCoh = $(this).closest('.cohorteLine').attr('data-cohorteId');

                $('.modal').modal('toggle');
                $('.modeDesinscr').show();
                $('.modeInscr').hide();

                $('.causeModal').hide();
                $('.causeModal.desinscr').show();
                $('.valideDesinscr').unbind('click').click(function () {
                    desinscrireUserCohorte(idUser, idCoh);
                });
            });

            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };
            if (getUrlParameter("cohortes")) {
                $('a[aria-controls=InfosCoh]').click();
            } else if (getUrlParameter("sessions")) {
                $('a[aria-controls=InfosSess]').click();
            } else if (getUrlParameter("cours")) {
                $('a[aria-controls=t1body2]').click();
            }

            if ($('#form_created_at').val() == '01/12/0002') {
                $('#form_created_at').val('Avant le 27/07/2018');
            }

            $(".tablesorter").each(function () {
                var numPager = $(this).attr('data-numPager');
                $(this)
                    .tablesorter({
                        widthFixed: true,
                        widgets: ['zebra', 'filter', 'output']
                    })
                    .tablesorterPager({
                        container: $("#pagerYes" + numPager),
                        output: 'de {startRow} à {endRow} sur {totalRows} lignes',
                        size: 10
                    });
            });

            $('.deleteDatas, .btnDeleteDatas').click(function (e) {
                e.preventDefault();
                var typeDatas = $(this).attr('data-typeDatas');
                $('.modal').modal('toggle');
                $('.modeDesinscr').show();
                $('.modeInscr').hide();

                $('.causeModal').hide();
                $('.causeModal.deleteDat').show();
                $('.valideDesinscr').unbind('click').click(function () {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('deleteUserDatas_ajax') }}",
                        data: {
                            idUser: '{{ user.id }}',
                            typeDatas: typeDatas
                        },
                        dataType: "json",
                        success: function (response) {
                            setTimeout(function () {
                                window.location.href = window.location.href;
                            }, 300);
                        },
                        error: function (xhr, status, error) {
                        }
                    });
                });
            });
            $('.cancel').click(function () {
                $('.modal').modal('toggle');
            });
        });
    </script>
    <style>
        .formRow {
            margin-bottom: 5px;
        }

        .formRow.lastRow {
            margin-bottom: 20px
        }

        .formRow label {
            width: 300px;
        }

        .formRow input {
            width: 250px;
        }

        .deleteDatas {
            background-color: #d64600;
            color: #fff;
        }

        .deleteDatas:hover {
            background-color: #d6611d;
        }
    </style>

    <div class="container mt-220 mb-40" data-userIdFiche="{{ user.id }}">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked pull-left" role="tablist" style="padding-bottom: 5px;padding-top: 5px">
                <li role="presentation" class="active">
                    <a href="#InfosCoh" aria-controls="InfosCoh" role="tab" data-toggle="tab" aria-expanded="true"><i
                                class="fa fa-university fa-fw" aria-hidden="true"> </i>Cohortes</a>
                </li>
                {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                    <li role="presentation">
                        <a href="#t1body2" aria-controls="t1body2" role="tab" data-toggle="tab"><i
                                    class="fa fa-sign-in fa-fw" aria-hidden="true"> </i>Cours</a>
                    </li>
                {% endif %}
                <li role="presentation">
                    <a href="#InfosSess" aria-controls="InfosSess" role="tab" data-toggle="tab"><i
                                class="fa fa-graduation-cap fa-fw"></i> Sessions</a>
                </li>
                <li role="presentation">
                    <a href="#InfosDev" aria-controls="InfosDev" role="tab" data-toggle="tab"><i
                                class="fa fa-certificate fa-fw"></i> Devoirs</a>
                </li>
                {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                    <li role="presentation" class="ongletSection">
                        <a href="#OngletEditionUser" aria-controls="OngletEditionUser" role="tab" data-toggle="tab"
                           aria-expanded="true"><i class="fa fa-user-circle fa-fw" aria-hidden="true"> </i>Profil</a>
                    </li>
                {% endif %}
                <li role="presentation" class="ongletSection">
                    <a href="#InfosRGPD" aria-controls="InfosRGPD" role="tab" data-toggle="tab" aria-expanded="true"><i
                                class="fa fa-database" aria-hidden="true"></i> Données personnelles</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="InfosCoh">
                    <div class="coloneTable col-md-12">
                        <div class="col-md-6">
                            <p>L'utilisateur est inscrit aux cohortes suivantes :</p>
                            <table class="tablesorter">
                                <thead>
                                <tr>
                                    <th data-filter="false">Id</th>
                                    <th>Nom</th>
                                    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                        <th data-filter="false">Désinscrire</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for key,val in cohortesInsc %}
                                {% if val['isInscrit'] == '1' %}
                                <tr class="cohorteLine" data-cohorteId="{{ val['cohorte'].id }}">
                                    <td>{{ val['cohorte'].id }}</td>
                                    <td>
                                        <a href="{{ path('itemUsers', {id: val['cohorte'].id, type: "cohorte"}) }}">{{ val['cohorte'].nom }}
                                            {% if val['inscription']|length %} ({{ val['inscription'][0].role.nom|replace({ 'Enseignant': 'Enseignant correcteur' }) }}){% endif %}</a>
                                    </td>
                                    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                        <td class="btnCellFilter">
                                            <i class="btndesinscr btndesinscrCoh fa fa-sign-out" aria-hidden="true"></i>
                                        </td>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <p>L'utilisateur n'est pas inscrit aux cohortes suivantes :</p>
                            <table class="tablesorter">
                                <thead>
                                <tr>
                                    <th data-filter="false">Id</th>
                                    <th>Nom</th>
                                    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                        <th data-filter="false">Inscrire</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for key,val in cohortesInsc %}
                                {% if val['isInscrit'] != '1' %}
                                <tr class="cohorteLine" data-cohorteId="{{ val['cohorte'].id }}">
                                    <td>{{ val['cohorte'].id }}</td>
                                    <td>
                                        <a href="{{ path('itemUsers', {id: val['cohorte'].id, type: "cohorte"}) }}">{{ val['cohorte'].nom }}</a>
                                    </td>
                                    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                        <td class="btnCellFilter">
                                            <i class="btninscr btninscrCoh fa fa-sign-in" aria-hidden="true"></i>
                                        </td>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="OngletEditionUser">
                    <div class="firstCol">
                        {{ form_start(form) }}
                        <div class="errorsPart">
                            {{ form_errors(form) }}
                        </div>
                        <div class="formRow">
                            {{ form_label(form.lastname) }}
                            {{ form_widget(form.lastname) }}
                        </div>
                        <div class="formRow">
                            {{ form_label(form.firstname) }}
                            {{ form_widget(form.firstname) }}
                        </div>
                        <div class="formRow">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="formRow">
                            {{ form_label(form.institut) }}
                            {{ form_widget(form.institut) }}
                        </div>
                        <div class="formRow">
                            {{ form_label(form.enabled) }}
                            {{ form_widget(form.enabled) }}
                        </div>
                        <div class="formRow lastRow">
                            {{ form_label(form.receiveAutoNotifs) }}
                            {{ form_widget(form.receiveAutoNotifs) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="InfosSess">
                    <div class="coloneTable col-md-12">
                        <div class="col-md-6">
                            <p>L'utilisateur s'est inscrit à :</p>
                            <table class="tablesorter">
                                <thead>
                                <tr>
                                    <th data-filter="false">Id</th>
                                    <th>Nom</th>
                                    <th data-filter="false">Accès de l'utilisateur</th>
                                    <th data-filter="false">Désinscrire</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for session in sessions %}
                                    {% if session.isInscrit %}
                                        <tr class="sessionLine" data-sessionId="{{ session.session.id }}">
                                            <td>{{ session.session.id }}</td>
                                            <td>
                                                <a href="{{ path('itemUsers', {id:session.session.id, type:'session'}) }}">{{ session.session.nom }}</a>
                                            </td>
                                            <td>
                                                {% for cours in session.sessionsForUser %}
                                                    <div>{{ cours.discipline.nom }} > {{ cours.nom }}</div>
                                                {% endfor %}
                                            </td>
                                            <td class="btnCellFilter">
                                                <i class="btndesinscr btndesinscrSess fa fa-sign-out"
                                                   aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <p>L'utilisateur ne s'est pas inscrit à :</p>
                            <table class="tablesorter">
                                <thead>
                                <tr>
                                    <th data-filter="false">Id</th>
                                    <th>Nom</th>
                                    <th data-filter="false">Accès de l'utilisateur</th>
                                    <th data-filter="false">Inscrire</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for session in sessions %}
                                    {% if not(session.isInscrit) %}
                                        <tr class="sessionLine" data-sessionId="{{ session.session.id }}">
                                            <td>{{ session.session.id }}</td>
                                            <td>
                                                <a href="{{ path('itemUsers', {id:session.session.id, type:'session'}) }}">{{ session.session.nom }}</a>
                                            </td>
                                            <td>
                                                {% for cours in session.sessionsForUser %}
                                                    <div>{{ cours.discipline.nom }} > {{ cours.nom }}</div>
                                                {% endfor %}
                                            </td>
                                            <td class="btnCellFilter">
                                                <i class="btninscr btninscrSess fa fa-sign-in" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="InfosRGPD">
                    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                        <div class="btnDeleteDatas btn btn-warning" data-typeDatas="ALL">Supprimer toutes les données
                        </div>
                    {% endif %}

                    <h3>Connexions</h3>
                    <table class="tablesorter" data-numPager="1">
                        <thead>
                        <tr>
                            <th data-filter="false">Id</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for login in userStatLogin %}
                            <tr class="userLine">
                                <td>{{ login.id }}</td>
                                <td>{{ login.dateAcces|localizeddate('none', 'none', null, null, 'd LLLL Y à H:mm' ) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="pagerYes1" class="pager">
                        <form>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}" class="first"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}" class="prev"/>
                            <input type="text" class="pagedisplay"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}" class="next"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}" class="last"/>
                            <select class="pagesize">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="all">Toutes les lignes</option>
                            </select>
                            {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                <button class="deleteDatas" data-typeDatas="Login">Effacer ces données</button>
                            {% endif %}
                        </form>
                    </div>
                    <h3>Accès aux cours</h3>
                    <table class="tablesorter" data-numPager="2">
                        <thead>
                        <tr>
                            <th data-filter="false">Id</th>
                            <th>Discipline</th>
                            <th>Cours</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for coursAcces in userStatCours %}
                            <tr class="userLine">
                                <td>{{ coursAcces.id }}</td>
                                <td>{{ coursAcces.cours.discipline.nom }}</td>
                                <td>{{ coursAcces.cours.nom }}</td>
                                <td>{{ coursAcces.dateAcces|localizeddate('none', 'none', null, null, 'd LLLL Y à H:mm' ) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="pagerYes2" class="pager">
                        <form>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}" class="first"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}" class="prev"/>
                            <input type="text" class="pagedisplay"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}" class="next"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}" class="last"/>
                            <select class="pagesize">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="all">Toutes les lignes</option>
                            </select>
                            {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                <button class="deleteDatas" data-typeDatas="Cours">Effacer ces données</button>
                            {% endif %}
                        </form>
                    </div>
                    <h3>Accès aux ressources</h3>
                    <table class="tablesorter" data-numPager="3">
                        <thead>
                        <tr>
                            <th data-filter="false">Id</th>
                            <th>Discipline</th>
                            <th>Cours</th>
                            <th>Ressource</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ressourceAcces in userStatRess %}
                            <tr class="userLine">
                                <td>{{ ressourceAcces.id }}</td>
                                <td><a href="{{ path('itemUsers', {id: ressourceAcces.ressource.cours.discipline.id, type: "discipline" }) }}">{{ ressourceAcces.ressource.cours.discipline.nom }}</a></td>
                                <td><a href="{{ path('itemUsers', {id: ressourceAcces.ressource.cours.id, type: "cours" }) }}">{{ ressourceAcces.ressource.cours.nom }}</a></td>
                                <td>{{ ressourceAcces.ressource.nom }}</td>
                                <td>{{ ressourceAcces.dateAcces|localizeddate('none', 'none', null, null, 'd LLLL Y à H:mm' ) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="pagerYes3" class="pager">
                        <form>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}" class="first"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}" class="prev"/>
                            <input type="text" class="pagedisplay"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}" class="next"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}" class="last"/>
                            <select class="pagesize">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="all">Toutes les lignes</option>
                            </select>
                            {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                <button class="deleteDatas" data-typeDatas="Ressource">Effacer ces données</button>
                            {% endif %}
                        </form>
                    </div>
                    <h3>Copies rendues</h3>
                    <table class="tablesorter" data-numPager="4">
                        <thead>
                        <tr>
                            <th data-filter="false">Id</th>
                            <th>Discipline</th>
                            <th>Cours</th>
                            <th>Devoir</th>
                            <th>Note</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for copie in copies %}
                            <tr class="userLine">
                                <td>{{ copie.copie.id }}</td>
                                <td><a href="{{ path('itemUsers', {id: copie.copie.devoir.cours.discipline.id, type: "discipline" }) }}">{{ copie.copie.devoir.cours.discipline.nom }}</a></td>
                                <td><a href="{{ path('itemUsers', {id: copie.copie.devoir.cours.id, type: "cours" }) }}">{{ copie.copie.devoir.cours.nom }}</a></td>
                                <td><a href="{{ path('oneDevoirEns', {id:copie.copie.devoir.id}) }}">{{ copie.copie.devoir.nom }}</a></td>
                                <td>{{ copie.copie.note }} / {{ copie.copie.devoir.bareme }}</td>
                                <td>{{ copie.copie.dateCreation|localizeddate('none', 'none', null, null, 'd LLLL Y à H:mm' ) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="pagerYes4" class="pager">
                        <form>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}" class="first"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}" class="prev"/>
                            <input type="text" class="pagedisplay"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}" class="next"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}" class="last"/>
                            <select class="pagesize">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="all">Toutes les lignes</option>
                            </select>
                            {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                <button class="deleteDatas" data-typeDatas="Ressource">Effacer ces données</button>
                            {% endif %}
                        </form>
                    </div>
                    <h3>Documents déposés</h3>
                    <table class="tablesorter" data-numPager="5">
                        <thead>
                        <tr>
                            <th data-filter="false">Id</th>
                            <th>Nom</th>
                            <th>Date de dépôt</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for document in documents %}
                            <tr class="userLine">
                                <td>{{ document.id }}</td>
                                <td>{{ document.nom }}</td>
                                <td>{{ document.dateCrea|localizeddate('none', 'none', null, null, 'd LLLL Y à H:mm' ) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="pagerYes5" class="pager">
                        <form>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}" class="first"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}" class="prev"/>
                            <input type="text" class="pagedisplay"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}" class="next"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}" class="last"/>
                            <select class="pagesize">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="all">Toutes les lignes</option>
                            </select>
                            {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                <button class="deleteDatas" data-typeDatas="Document">Effacer ces données</button>
                            {% endif %}
                        </form>
                    </div>
                    <h3>Sujets de Forum créés</h3>
                    <table class="tablesorter" data-numPager="6">
                        <thead>
                        <tr>
                            <th data-filter="false">Id</th>
                            <th>Discipline</th>
                            <th>Cours</th>
                            <th>Titre du Forum</th>
                            <th>Titre du Sujet</th>
                            <th>Date de création</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sujet in sujets %}
                            <tr class="userLine">
                                <td>{{ sujet.id }}</td>
                                <td><a href="{{ path('itemUsers', {id: sujet.forum.cours.discipline.id, type: "discipline" }) }}">{{ sujet.forum.cours.discipline.nom }}</a></td>
                                <td><a href="{{ path('itemUsers', {id: sujet.forum.cours.id, type: "cours" }) }}">{{ sujet.forum.cours.nom }}</a></td>
                                <td><a href="{{ path('forum', {id: sujet.forum.id }) }}">{{ sujet.forum.nom }}</a></td>
                                <td><a href="{{ path('forumSujet', {id: sujet.id }) }}">{{ sujet.titre }}</a></td>
                                <td>{{ sujet.createdAt|localizeddate('none', 'none', null, null, 'd LLLL Y à H:mm' ) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="pagerYes6" class="pager">
                        <form>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}" class="first"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}" class="prev"/>
                            <input type="text" class="pagedisplay"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}" class="next"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}" class="last"/>
                            <select class="pagesize">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="all">Toutes les lignes</option>
                            </select>
                            {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                <button class="deleteDatas" data-typeDatas="ForumSujet">Effacer ces données</button>
                            {% endif %}
                        </form>
                    </div>
                    <h3>Posts de Forum créés</h3>
                    <table class="tablesorter" data-numPager="7">
                        <thead>
                        <tr>
                            <th data-filter="false">Id</th>
                            <th>Discipline</th>
                            <th>Cours</th>
                            <th>Titre du Forum</th>
                            <th>Titre du Sujet</th>
                            <th>Message</th>
                            <th>Date de création</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                            <tr class="userLine">
                                <td>{{ post.id }}</td>
                                <td><a href="{{ path('itemUsers', {id: post.sujet.forum.cours.discipline.id, type: "discipline" }) }}">{{ post.sujet.forum.cours.discipline.nom }}</a></td>
                                <td><a href="{{ path('itemUsers', {id: post.sujet.forum.cours.id, type: "cours" }) }}">{{ post.sujet.forum.cours.nom }}</a></td>
                                <td><a href="{{ path('forum', {id: post.sujet.forum.id }) }}">{{ post.sujet.forum.nom }}</a></td>
                                <td><a href="{{ path('forumSujet', {id: post.sujet.id }) }}">{{ post.sujet.titre }}</a></td>
                                <td>{{ post.texte|striptags|slice(0, 100) }}...</td>
                                <td>{{ post.createdAt|localizeddate('none', 'none', null, null, 'd LLLL Y à H:mm' ) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="pagerYes7" class="pager">
                        <form>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}" class="first"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}" class="prev"/>
                            <input type="text" class="pagedisplay"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}" class="next"/>
                            <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}" class="last"/>
                            <select class="pagesize">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="all">Toutes les lignes</option>
                            </select>
                            {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                <button class="deleteDatas" data-typeDatas="ForumPost">Effacer ces données</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="InfosDev">
                    <div class="coloneTable col-md-12">
                        <p>Copies rendues par l'utilisateur</p>
                        <table class="tablesorter">
                            <thead>
                            <tr>
                                <th>Devoir</th>
                                <th>Copie</th>
                                <th>Date de rendu</th>
                                <th>Note</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for copie in copies %}
                                <tr class="copieLine" data-copieId="{{ copie.copie.id }}">
                                    <td>
                                        <a href="{{ path('oneDevoirEns', {id:copie.copie.devoir.id}) }}">{{ copie.copie.devoir.cours.discipline.nom }}
                                            > {{ copie.copie.devoir.cours.nom }} > {{ copie.copie.devoir.nom }}</a></td>
                                    <td><a target="_blank" href="{{ copie.fichier.url }}">Copie</a></td>
                                    <td>{{ copie.copie.dateCreation|localizeddate('none', 'none', null, null, 'd LLLL Y à H:mm' ) }}</td>
                                    <td>{{ copie.copie.note }} / {{ copie.copie.devoir.bareme }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="t1body2">
                    <div class="descriptionInscriptions">
                        L'utilisateur {{ user.firstname }} {{ user.lastname }} est inscrit aux cohortes suivantes :
                        <ul>
                            {% for key,val in cohortesInsc %}
                                {% if val['isInscrit'] == 1 %}
                                    <li>
                                        <a href="{{ path('itemUsers', {id: val['cohorte'].id, type: "cohorte"}) }}">{{ val['cohorte'].nom }}{% if val['inscription']|length %} ({{ val['inscription'][0].role.nom|replace({ 'Enseignant': 'Enseignant correcteur' }) }}){% endif %}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        Il a accès aux disciplines suivantes :
                        <ul>
                            {% for key,val in disciplinesInsc %}
                                {% if val['hasAccess'] == 1 %}
                                    <li>
                                        <a href="{{ path('itemUsers', {id: val['discipline'].id, type: "discipline"}) }}">{{ val['discipline'].nom }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="itemsTab">
                        <div class="cohsItems">
                            <div class="titleItems">Cohortes</div>
                            <div class="interact-items">
                                {% for key,val in cohortesInsc %}
                                    <div
                                            data-idItem="{{ val['cohorte'].id }}"
                                            class="filtred_item"
                                            data-filtreIsInscrit="{{ val['isInscrit'] }}"
                                            data-typeItem="cohorte"
                                            data-itemHref="{{ path('itemUsers', {id: val['cohorte'].id, type: "cohorte"}) }}"
                                    >
                                        {{ val['cohorte'].nom }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="othersItems">
                            <table>
                                <thead>
                                <tr>
                                    <th>disciplines</th>
                                    <th>Cours</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key,val in disciplinesInsc %}
                                    <tr>
                                        <td class="interact-items">
                                            <div
                                                    data-idItem="{{ val['discipline'].id }}"
                                                    class="filtred_item"
                                                    data-filtreIsInscrit="{{ val['isInscrit'] }}"
                                                    data-filtreHasAccess="{{ val['hasAccess'] }}"
                                                    data-cohs="{% for keyCoh,coh in val['cohortes'] %}{{ coh.id }},{% endfor %}"
                                                    data-typeItem="discipline"
                                                    data-itemHref="{{ path('itemUsers', {id: val['discipline'].id, type: "discipline"}) }}"
                                            >
                                                {{ val['discipline'].nom }}
                                            </div>
                                        </td>
                                        <td class="interact-items">
                                            {% for keyCours,valCours in coursInsc %}
                                                {% if valCours['cours'].discipline.id == val['discipline'].id %}
                                                    <div
                                                            data-idItem="{{ valCours['cours'].id }}"
                                                            class="filtred_item"
                                                            data-filtreIsInscrit="{{ valCours['isInscrit'] }}"
                                                            data-filtreHasAccess="{{ valCours['hasAccess'] }}"
                                                            data-discipline="{{ valCours['cours'].discipline.id }}"
                                                            data-cohs="{% for keyCoh,coh in val['cohortes'] %}{{ coh.id }},{% endfor %}"
                                                            data-typeItem="cours"
                                                            data-itemHref="{{ path('itemUsers', {id: valCours['cours'].id, type: "cours"}) }}"
                                                    >
                                                        {{ valCours['cours'].nom }}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body" data-contentModal="devoirDisplay" data-idItem=""
                     style="background:#aaa; background-size:cover">
                    <div class="row">
                        <div class="bginverse">
                            <div class="modeDesinscr">
                                <div class="alert alert-danger mb-10">
                                    <p class="causeModal desinscr"><strong>Attention!</strong> Vous allez désinscrire
                                        l'utilisateur.</p>
                                    <p class="causeModal deleteDat"><strong>Attention!</strong> Vous allez effacer des
                                        données de l'utilisateur.</p>
                                </div>

                                <div class="row mb-10" style="text-align: center">
                                    <div class="btn btn-sm btn-info mb-3 valideDesinscr">Valider</div>
                                    <div class="btn btn-sm btn-info mb-3 cancel">Annuler</div>
                                </div>
                            </div>
                            <div class="modeInscr">
                                <div class="alert alert-info mb-10">
                                    Sélectionnez un role pour cette inscription
                                    <select class="selectRole">
                                        {% for role in roles %}
                                            <option value="{{ role.id }}">{{ role.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="row mb-10" style="text-align: center">
                                    <div class="btn btn-sm btn-info mb-3 valideInscr">Valider</div>
                                    <div class="btn btn-sm btn-info mb-3 cancel">Annuler</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}