{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div>{{ template }}</div>
    <div class="page-header">
        <div class="container">
            <h2 class="color3">Fiche Utilisateur</h2>
            <ul class="breadcrumb">
                <li class="color3">
                    <a href="{{ path('usersManag') }}" class="label label-info">Gestion des utilisateurs</a>
                    >
                    <a href="{{ path('user', {id: user.id} ) }}" class="label label-info">{{ user.firstname }} {{ user.lastname }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="menuActionInscrUser">
        <div class="btnMenuActionInscrUser btnInscrire">
            <i class="fa fa-sign-in"></i>Inscrire
        </div>
        <div class="btnMenuActionInscrUser btnDesInscrire">
            <i class="fa fa-sign-out"></i>Désinscrire
        </div>
        <a class="btnMenuActionInscrUser btnOuvrirItem" href="">
            <i class="fa fa-folder-open-o"></i>Ouvrir
        </a>
        <div class="btnMenuActionInscrUser btnAlert btnAnnuler">
            <i class="fa fa-ban"></i>Annuler
        </div>
    </div>
{% endblock %}

{% block main %}
    <script>
        jQuery(document).ready(function () {
            var filtr_coh = '.filtred_item[data-typeItem=cohorte]';
            var filtr_dis = '.filtred_item[data-typeItem=discipline]';
            var filtr_cou = '.filtred_item[data-typeItem=cours]';

            $(filtr_coh).mouseover(function(){
                if(!$('.verrouille_item').length){
                    $('.surligne').removeClass('surligne');
                    $(this).addClass('surligne');
                    var idCoh = $(this).attr('data-idItem');
                    $(filtr_dis+', '+filtr_cou).each(function(){
                        var cohsList = $(this).attr('data-cohs').split(',');
                        if(jQuery.inArray(idCoh, cohsList) != -1){
                            $(this).addClass('surligne')/*.prependTo($(this).parent())*/;
                        }
                    });
                    $(filtr_cou).each(function(){
                        var discId = $(this).attr('data-discipline');
                        if($('[data-idItem='+discId+']').hasClass('surligne')){
                            $(this).addClass('surligne')/*.prependTo($(this).parent())*/;
                        }
                    });
                }
            });
            $(filtr_dis).mouseover(function(){
                if(!$('.verrouille_item').length){
                    $('.surligne').removeClass('surligne');
                    $(this).addClass('surligne');
                    var idDis = $(this).attr('data-idItem');
                    $(filtr_cou).each(function(){
                        var discId = $(this).attr('data-discipline');
                        if(discId == idDis){
                            $(this).addClass('surligne')/*.prependTo($(this).parent())*/;
                        }
                    });
                }
            });
            $(filtr_cou).mouseover(function() {
                if (!$('.verrouille_item').length) {
                    $('.surligne').removeClass('surligne');
                    $(this).addClass('surligne');
                }
            });

            $('.filtred_item').click(function(){
                $('.btnMenuActionInscrUser').hide();
                $('.btnAnnuler, .btnOuvrirItem').show();
                $(this).addClass('verrouille_item');
                $('.menuActionInscrUser').show();
                $('.btnOuvrirItem').attr('href', $(this).attr('data-itemHref'));
                if($(this).attr('data-filtrehasaccess') == 1) {

                }else{
                    if($(this).attr('data-filtreisinscrit') == 1){
                        $('.btnDesInscrire').show();
                    }else{
                        $('.btnInscrire').show();
                    }
                }
            });
            $('.btnAnnuler').click(function(){
                $('.verrouille_item').removeClass('verrouille_item');
                $('.menuActionInscrUser').hide();
            });

            $('.btnInscrire').click(function(){
                var typeItem = $('.verrouille_item').attr('data-typeItem');
                var idItem = $('.verrouille_item').attr('data-idItem');
                var idUser = $('[data-userIdFiche]').attr('data-userIdFiche');

                $.ajax({
                    type: "POST",
                    url: "{{path('inscrireUser_ajax')}}",
                    data: {
                        idItem: idItem,
                        idUser: idUser,
                        typeItem: typeItem
                    },
                    dataType: "json",
                    success: function (response) {
                        window.location.href = window.location.href;
                    }
                });
            });
            $('.btnDesInscrire').click(function(){
                var typeItem = $('.verrouille_item').attr('data-typeItem');
                var idItem = $('.verrouille_item').attr('data-idItem');
                var idUser = $('[data-userIdFiche]').attr('data-userIdFiche');

                $.ajax({
                    type: "POST",
                    url: "{{path('desInscrireUser_ajax')}}",
                    data: {
                        idItem: idItem,
                        idUser: idUser,
                        typeItem: typeItem
                    },
                    dataType: "json",
                    success: function (response) {
                        window.location.href = window.location.href;
                    }
                });
            });
        });
    </script>

    <div class="container mt-100 mb-40" data-userIdFiche="{{ user.id }}">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked pull-left" role="tablist" style="padding-bottom: 5px;padding-top: 5px">
                <li role="presentation"  class="ongletSection active">
                    <a href="#t1body2" aria-controls="t1body2" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-sign-in fa-fw" aria-hidden="true"> </i>Inscriptions</a>
                </li>
                <li role="presentation"  class="ongletSection">
                    <a href="#OngletEditionUser" aria-controls="OngletEditionUser" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-user-circle fa-fw" aria-hidden="true"> </i>Profil</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade" id="OngletEditionUser">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
                <div role="tabpanel" class="tab-pane fade in active" id="t1body2">
                    <div class="itemsTab">
                        <div class="cohsItems">
                            <div class="titleItems">Cohortes</div>
                            <div class="interact-items">
                                {% for key,val in cohortesInsc %}
                                    <div
                                            data-idItem="{{ val['cohorte'].id }}"
                                            class="filtred_item"
                                            data-filtreIsInscrit="{{ val['isInscrit'] }}"
                                            data-typeItem="cohorte"
                                            data-itemHref="{{ path('itemUsers', {id: val['cohorte'].id, type: "cohorte"}) }}"
                                    >
                                        {{ val['cohorte'].nom }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="othersItems">
                            <table>
                                <thead>
                                <tr><th>disciplines</th><th>Cours</th></tr>
                                </thead>
                                <tbody>
                                {% for key,val in disciplinesInsc %}
                                    <tr>
                                        <td class="interact-items">
                                            <div
                                                    data-idItem="{{ val['discipline'].id }}"
                                                    class="filtred_item"
                                                    data-filtreIsInscrit="{{ val['isInscrit'] }}"
                                                    data-filtreHasAccess="{{ val['hasAccess'] }}"
                                                    data-cohs="{% for keyCoh,coh in val['cohortes'] %}{{ coh.id }},{% endfor %}"
                                                    data-typeItem="discipline"
                                                    data-itemHref="{{ path('itemUsers', {id: val['discipline'].id, type: "discipline"}) }}"
                                            >
                                                {{ val['discipline'].nom }}
                                            </div>
                                        </td>
                                        <td class="interact-items">
                                            {% for keyCours,valCours in coursInsc %}
                                                {% if valCours['cours'].discipline.id == val['discipline'].id %}
                                                    <div
                                                            data-idItem="{{ valCours['cours'].id }}"
                                                            class="filtred_item"
                                                            data-filtreIsInscrit="{{ valCours['isInscrit'] }}"
                                                            data-filtreHasAccess="{{ valCours['hasAccess'] }}"
                                                            data-discipline="{{ valCours['cours'].discipline.id }}"
                                                            data-cohs="{% for keyCoh,coh in val['cohortes'] %}{{ coh.id }},{% endfor %}"
                                                            data-typeItem="cours"
                                                            data-itemHref="{{ path('itemUsers', {id: valCours['cours'].id, type: "cours"}) }}"
                                                    >
                                                        {{ valCours['cours'].nom }}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}