{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div>{{ template }}</div>
    <div class="page-header">
        <div class="container">
            <h2 class="color3">Utilisateurs</h2>
            <ul class="breadcrumb">
                <li class="color3">Gestion des profils</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="{{ asset('vendors/tablesorter/dist/css/theme.default.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendors/tablesorter/dist/css/jquery.tablesorter.pager.min.css') }}" />

    <script type="text/javascript" src="{{ asset('vendors/tablesorter/dist/js/jquery.tablesorter.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/tablesorter/dist/js/jquery.tablesorter.widgets.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/tablesorter/dist/js/widgets/widget-output.min.js') }}"></script>

    <script>
        jQuery(document).ready(function () {
            $('.download').click(function(e){
                e.preventDefault();
                var table = $(this).closest('.container').find('.tablesorter');
                table.trigger('outputTable');
            });
            $(".tablesorter")
                    .tablesorter({
                        widthFixed: true,
                        widgets: ['zebra', 'filter', 'output'],
                        widgetOptions : {
                            output_delivery      : 'd',
                            output_saveFileName  : 'mytable.csv'
                        }
                    })
                    .tablesorterPager({
                        container: $("#pager"),
                        size: 50
                    });
        });
    </script>

    <div class="container mt-100 mb-40">
        <div class="row">
            <div class="col-md-12">
                <table class="tablesorter ">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Cohortes</th>
                        <th class="filter-select">Institut</th>
                        <th class="filter-select">Activé</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for myUser in myUsers %}
                        <tr class="userLine" data-userId="{{ myUser.user.id }}">
                            <td><a href="{{ path('user', {id:myUser.user.id }) }}">{{ myUser.user.id }}</a></td>
                            <td><a href="{{ path('user', {id:myUser.user.id }) }}">{{ myUser.user.email }}</a></td>
                            <td>{{ myUser.user.firstname }}</td>
                            <td>{{ myUser.user.lastname }}</td>
                            <td>
                                {% for coh in myUser.cohortes %}
                                    <a href="{{ path('itemUsers', {id: coh.id, type: "cohorte"}) }}">{{ coh.nom }}</a>
                                {% endfor %}
                            </td>
                            <td>{{ myUser.user.institut }}</td>
                            <td>
                                {% if myUser.user.enabled == 1 %}
                                    oui
                                {% else %}
                                    non
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id="pager" class="pager">
                    <form>
                        <img src="{{ asset('vendors/tablesorter/dist/css/images/first.png') }}" class="first"/>
                        <img src="{{ asset('vendors/tablesorter/dist/css/images/prev.png') }}" class="prev"/>
                        <input type="text" class="pagedisplay"/>
                        <img src="{{ asset('vendors/tablesorter/dist/css/images/next.png') }}" class="next"/>
                        <img src="{{ asset('vendors/tablesorter/dist/css/images/last.png') }}" class="last"/>
                        <select class="pagesize">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="all">All Rows</option>
                        </select>
                        <button class="download">Télécharger le CSV</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}