<li data-idZone="{{ zoneId }}"
    data-idItem="{{ itemId }}"
    class="courseElemAdmin groupeLiensAdmin col-md-12"
    data-typeItem="groupe"
        {% if inSection == 'true' %}
            {% set isVisible = "false" %}
            {% if  visible == 1 %}
                {% set isVisible = "true" %}
            {% endif %}
            data-IsVisible="{{ isVisible }}"
        {% endif %}
>
    <div class="titleBar">Groupe de Liens</div>

    {% if inSection == 'true' %}
        {% include "cours/adminBtns.html.twig" with {visible: visible, isReferent: isReferent} %}
    {% else %}
        <div class="btnActionCol col-md-1">
            <ul>
                <li class="myBtn btnDelete btnLeft btnSupprElem"><i class="fa fa-times"></i></li>
            </ul>
        </div>
    {% endif %}

    <div class="formCol col-md-11">
        <div class="row mb-10">
            <div class="LabelAdmin col-sm-3">Nom</div>
            <input data-champName="nom" class="champAdmin col-sm-9 col-xs-12" value="{{ nom }}"/>
        </div>
        <div class="row mb-10">
            <div class="LabelAdmin col-sm-3">Description</div>
            <div class="noPadding col-sm-9  col-xs-12">
                <textarea data-champName="description" id="zone_{{ zoneId }}_groupeLien_{{ itemId }}_descr"
                          class="complexEditor editor champAdmin" readonly>{{ description | raw }}</textarea>
            </div>

        </div>
        <hr class="hrCourseElem"/>
        <div class="row">
            <div class="LabelAdmin col-sm-3">Liste verticale</div>
            <div class="myBtn btnAdmin btnSetIsVertical inlineBtn">
                {% if isVertical %}
                    <i class="fa fa-check-square-o"></i>
                {% else %}
                    <i class="fa fa-square-o"></i>
                {% endif %}
            </div>
        </div>
        <hr class="hrCourseElem"/>
        <div class="row">
            <div class="LabelAdmin col-sm-2">Liens</div>
            <div class="selectLienToAddToGroupe btn btnAdmin col-sm-1"><i class="fa fa-plus"> </i></div>
            <div class=" col-sm-9  col-xs-12 listeItemContained sortableLiensInGroupe">
                {% for keyR,valR in liens %}
                    <div class="row" data-idLien="{{ valR.id }}">
                        <div class="col-xs-10">
                            <div class="myBtn btnMove inlineBtn"><i class="fa fa-arrows-alt "></i></div>
                            <div class="nomAssoc inlineBtn">
                                <a class="btnLienGroupeRessource btn btn-xs"
                                   style="background-color: {{ valR.categorieLien.couleur }};" target="_blank"
                                   href="{{ asset(valR.lien.url) }}">{{ valR.nom }}</a>
                            </div>
                        </div>
                        <div class="col-xs-2 text-right noPadding">
                            <div class="myBtn btnEdit inlineBtn btnEditLienInGroup">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="myBtn btnDelete inlineBtn btnRemoveLienFromGroup">
                                <i class="fa fa-trash"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</li>