<li data-idZone="{{ zoneId }}"
    class="courseElemAdmin devoirAdmin col-md-12"
    data-idItem="{{ devoir.id }}"
    data-typeItem="devoir"
    {% if inSection == 'true' %}
        {% set isVisible = "false" %}
        {% if  visible == 1 %}
            {% set isVisible = "true" %}
        {% endif %}
        data-IsVisible="{{ isVisible }}"
    {% endif %}
>

    <div class="titleBar">Devoir</div>
    {% if inSection == 'true' %}
        {% include "cours/adminBtns.html.twig" with {visible: visible} %}
    {% else %}
        <div class="btnActionCol col-md-1">
            <ul>
                <li class="myBtn btnDelete btnLeft btnSupprElem"><i class="fa fa-times"></i></li>
            </ul>
        </div>
    {% endif %}
    <div class="formCol col-md-11">
        <div class="row">
            <div class="LabelAdmin col-sm-3">Nom</div>
            <input data-champName="nom" class="champAdmin col-sm-9 col-xs-12" value="{{ devoir.nom }}"/>
        </div>
        <div class="row">
            <div class="LabelAdmin col-sm-3">Description</div>
            <div class="col-sm-9  col-xs-12 noPadding">
                <textarea data-champName="description" id="zone_{{ zoneId }}_lien_{{ devoir.id }}_descr" class="simpleEditor editor champAdmin" readonly>{{ devoir.description }}</textarea>
            </div>
        </div>
        <hr class="hrCourseElem" />
        <div class="row">
            <div class="LabelAdmin col-sm-2">Sujet</div>
            <div class="selectSujetAddToDevoir btn btnAdmin col-sm-1"><i class="fa fa-plus"> </i></div>
            <div class=" col-sm-9  col-xs-12 listeItemContained sortableDevoirFile sortableSujetDevoir">
                {% for keyR,valR in sujets %}
                    <div class="row" data-idFile="{{ valR.id }}">
                        <div class="col-xs-9">
                            <div class="myBtn btnMove inlineBtn"><i class="fa fa-arrows-alt "></i></div>
                            <div class="nomAssoc inlineBtn">{{ valR.nom }}</div>
                        </div>
                        <div class="col-xs-3 text-right">
                            <a class="myBtn btnZoom inlineBtn" href="{{ valR.url }}" target="_blank">
                                <i class="fa fa-search"></i>
                            </a>
                            <div class="myBtn btnDelete inlineBtn btnRemoveSujetFromDevoir">
                                <i class="fa fa-trash"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="LabelAdmin col-sm-2">Corrigé type</div>
            <div class="selectCorrigeTypeAddToDevoir btn btnAdmin col-sm-1"><i class="fa fa-plus"> </i></div>
            <div class=" col-sm-9  col-xs-12 listeItemContained sortableDevoirFile sortableCorrigeDevoir">
                {% for keyR,valR in corrigesType %}
                    <div class="row" data-idFile="{{ valR.id }}">
                        <div class="col-xs-9">
                            <div class="myBtn btnMove inlineBtn"><i class="fa fa-arrows-alt "></i></div>
                            <div class="nomAssoc inlineBtn">{{ valR.nom }}</div>
                        </div>
                        <div class="col-xs-3 text-right">
                            <a class="myBtn btnZoom inlineBtn" href="{{ valR.url }}" target="_blank">
                                <i class="fa fa-search"></i>
                            </a>
                            <div class="myBtn btnDelete inlineBtn btnRemoveCorrigeTypeFromDevoir">
                                <i class="fa fa-trash"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <hr class="hrCourseElem" />
        <div class="row cssExterne">
            <div class="datePickerEvtGroup">
                <div class="LabelAdmin col-sm-3">Date de début</div>
                <div class='col-sm-9 noPadding mb-10'  data-champName="dateDebut">
                    <div class="form-group noMargin mb-10">
                        <div class='input-group date evtDateD' id='dateD_{{ zoneId }}_{{ devoir.id }}' data-date="{{ devoir.dateDebut|date('Y-m-d H:i:s') }}">
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="LabelAdmin col-sm-3">Date de fin</div>
                <div class='col-sm-9 noPadding mb-10' data-champName="dateFin">
                    <div class="form-group noMargin">
                        <div class='input-group date evtDateF' id='dateF_{{ zoneId }}_{{ devoir.id }}' data-date="{{ devoir.dateFin|date('Y-m-d H:i:s') }}">
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hrCourseElem" />
        <div>
            <div class="LabelAdmin col-sm-3">Durée</div>
            <div class="col-sm-9  col-xs-12 noPadding">
                <div class="row noMargin">
                    <div class="col-sm-4" data-champName="dureeHeures">
                        <input class="form-control bootstrapNumber" data-type="dureeSelect" type="number" value="{{ devoir.duree//3600 }}" min="0" max="12" readonly />
                    </div>
                    <div class="col-sm-8">heures</div>
                </div>
                <div class="row noMargin">
                    <div class="col-sm-4" data-champName="dureeMinutes">
                        <input class="form-control bootstrapNumber" data-type="dureeSelect" type="number" value="{{ (devoir.duree%3600)/60 }}" min="0" max="59" readonly />
                    </div>
                    <div class="col-sm-8">minutes</div>
                </div>

            </div>
        </div>
        <hr class="hrCourseElem" />
        <div>
            <div class="LabelAdmin col-sm-3">Barême</div>
            <div class="col-sm-9  col-xs-12 noPadding">
                <div class="row noMargin">
                    <div class="col-sm-4" data-champName="bareme">
                        <input class="form-control bootstrapNumber" data-type="baremeSelect" type="number" value="{{ devoir.bareme }}" min="0" max="100" readonly />
                    </div>
                    <div class="col-sm-8">nombre de points maximum</div>
                </div>

            </div>
        </div>
        <hr class="hrCourseElem" />
        <div class="row">
            <div class="LabelAdmin col-sm-3">Commentaire "copie rendue"</div>
            <div class="col-sm-9  col-xs-12 noPadding">
                <textarea data-champName="commentaireCopieRendue" id="zone_{{ zoneId }}_lien_{{ devoir.id }}_commCopRend" class="simpleEditor editor champAdmin" readonly>{{ devoir.commentaireCopieRendue }}</textarea>
            </div>
        </div>
    </div>
</li>