<li data-idZone="{{ zoneId }}"
    data-idItem="{{ lien.id }}"
    class="courseElemAdmin lienAdmin col-md-12"
    data-typeItem="lien"
    {% if inSection == 'true' %}
        {% set isVisible = "false" %}
        {% if  visible == 1 %}
            {% set isVisible = "true" %}
        {% endif %}
        data-IsVisible="{{ isVisible }}"
    {% endif %}
>
    <div class="titleBar">Lien externe</div>

    {% if inSection == 'true' %}
        {% include "cours/adminBtns.html.twig" with {visible: visible}  %}
    {% else %}
        <div class="btnActionCol col-md-1">
            <ul>
                <li class="myBtn btnDelete btnLeft btnSupprElem"><i class="fa fa-times"></i></li>
            </ul>
        </div>
    {% endif %}

    <div class="formCol col-md-11">
        <div class="row">
            <div class="LabelAdmin col-sm-3">Nom</div>
            <input data-champName="nom" class="champAdmin col-sm-9 col-xs-12" value="{{ lien.nom }}"/>
        </div>
        <div class="row">
            <div class="LabelAdmin col-sm-3">Description</div>
            <div class="col-sm-9  col-xs-12 noPadding">
                <textarea data-champName="description" id="zone_{{ zoneId }}_lien_{{ lien.id }}_descr" class="simpleEditor editor champAdmin" readonly>{{ lien.description }}</textarea>
            </div>
        </div>
        <hr class="hrCourseElem" />
        <div class="row">
            <div class="LabelAdmin col-sm-3">URL</div>
            <div class="LabelAdmin col-sm-9  col-xs-12">
                <div class="fileUploader btn btnAdmin inlineBtn" data-idItem="{{ lien.id }}" data-itemType="lien" data-itemNomChamp="url">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Ajouter un fichier</span>
                </div>

                <input data-champName="url" class="champAdmin col-xs-12" value="{{ lien.url }}"/>
            </div>


        </div>
        <hr class="hrCourseElem" />
        <div class="row">
            <div class="LabelAdmin col-sm-2">Type du lien</div>
            <div class="detailIconTypeLien col-xs-1">
                {% if lien.typeLien.faIcon is defined %}
                    <i class="fa {{ lien.typeLien.faIcon }}"></i>
                {% else %}
                    <i class="fa fa-external-link"></i>
                {% endif %}
            </div>
            <select class="col-sm-9  col-xs-11" title="Type du lien" data-champName="typeLien">
                {% for key,val in lienTypes %}
                    <option data-icon="{{ val.faIcon }}" value="{{ val.id }}"
                    {% if lien.typeLien.faIcon is defined %}
                        {% if val.id == lien.typeLien.id %}
                            selected="selected"
                        {% endif %}
                    {% endif %}
                    >{{ val.nom }}</option>
                {% endfor %}
                <option data-icon="fa-external-link" value="0"
                {% if not lien.typeLien.faIcon is defined %}
                    selected="selected"
                {% endif %}
                >Par défaut</option>
            </select>
        </div>
    </div>
</li>