<li data-idZone="{{ zoneId }}"
    data-idItem="{{ itemId }}"
    class="courseElemAdmin freeAdmin col-md-12"
    data-typeItem="libre"
    {% if inSection == 'true' %}
        {% set isVisible = "false" %}
        {% if  visible == 1 %}
            {% set isVisible = "true" %}
        {% endif %}
        data-IsVisible="{{ isVisible }}"
    {% endif %}
>

    <div class="titleBar">Zone libre</div>
    {% include "cours/adminBtns.html.twig" with {visible: visible, isReferent: isReferent}  %}
    <div class="formCol col-md-11">
        <div class="row">
            <div class="col-xs-12 noPadding">
                <textarea data-champName="description" id="zone_{{ zoneId }}_lien_{{ itemId }}_descr" class="complexEditor editor champAdmin" readonly>{{ description }}</textarea>
            </div>
        </div>
    </div>
</li>