<li data-idZone="{{ zoneId }}"
    data-idItem="{{ itemId }}"
    class="courseElemAdmin lienAdmin col-md-12"
    data-typeItem="lien"
>
    <div class="titleBar">Lien externe</div>

    {% if inSection == 'true' %}
        {% include "cours/adminBtns.html.twig" with {visible: visible}  %}
    {% else %}
        <div class="btnActionCol col-md-1">
            <ul>
                <li class="myBtn btnDelete btnLeft btnSupprElem"><i class="fa fa-times"></i></li>
            </ul>
        </div>
    {% endif %}

    <div class="formCol col-md-11">
        <div class="row">
            <div class="LabelAdmin col-sm-2">Nom</div>
            <input data-champName="nom" class="champAdmin col-sm-10 col-xs-12" value="{{ nom }}"/>
        </div>
        <div class="row">
            <div class="LabelAdmin col-sm-2">Description</div>
            <div class="col-sm-10  col-xs-12">
                <textarea data-champName="description" id="zone_{{ zoneId }}_lien_{{ itemId }}_descr" class="simpleEditor editor champAdmin">{{ description }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="LabelAdmin col-sm-2">URL</div>
            <input data-champName="url" class="champAdmin col-sm-10  col-xs-12" value="{{ url }}"/>
        </div>
    </div>
</li>