{% extends 'base.html.twig' %}

{% block vueAdmin %}
    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <li><a href="{{ path('oneCours', {id: cours.id, mode: 'admin'}) }}">Vue admin</a></li>
    {% endif %}
{% endblock %}

{% block pageHeader %}
    <!--<div class="page-header">
        <div class="container">
            <h1>Détail des cours</h1>
            <ul class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                <li class="active">Détail des cours</li>
            </ul>
        </div>
    </div>-->
{% endblock %}

{% block main %}
    <div class="container mt-140">
        <div class="row">
            <div class="col-sm-4">
                <div class="course-intro">
                    <img src="{{ asset('images/') }}{{ cours.imgFilePath }}" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="course-full">
                    <h2 class="heading">{{ cours.nom }}</h2>
                    <div class="personal">
                        <!--<div>
                            <span>Enseignant</span>
                            <span>M. Lefebre <a href="teacher-profile.html"><i class="fa fa fa-user"></i> </a></span>
                        </div>
                        <div>
                        </div>-->
                    </div>
                    <div class="editor">
                        {{ cours.accueil | raw }}
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row mt-40 mb-100">
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked pull-left" role="tablist" style="padding-bottom: 5px;padding-top: 5px">
                    {% for key,val in zonesSections if val.section.isVisible == 1 %}
                        <li role="presentation" {% if loop.index == 1 %} class="active" {% endif %}>
                            <a href="#t1body{{ val.section.id }}" aria-controls="t1body{{ val.section.id }}" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-pencil fa-fw" aria-hidden="true"> </i>{{ val.section.nom }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="tab-content">
                    {% set firstDisplayed = 1 %}
                    {% for key,val in zonesSections if val.section.isVisible %}
                        <div role="tabpanel" class="tab-pane fade{% if loop.index == 1 %} in active {% endif %}" id="t1body{{ val.section.id }}">
                            <div class="editor">
                                <ul class="list-default">
                                    {% for keyR,valR in val.zones.content %}
                                        {% if val.zones.containers[keyR].isVisible %}
                                            {% if val.zones.type[keyR] == "lien" %}
                                                <!--
                                                        LIEN
                                                -->
                                                <li data-idZone="{{ val.zones.containers[keyR].id }}"
                                                    class="courseElem lien">
                                                    <div class="row">

                                                        <div class="itemInfos col-xs-10">
                                                            <div class="itemNom">{{ valR.nom }}</div>
                                                            <div class="itemDescription">{{ valR.description | raw }}</div>
                                                        </div>
                                                        <div class="col-xs-2 text-right">
                                                            <a class="btn btnLien btn-sm btn-warning" href="{{ valR.url }}">
                                                                <i class="fa {{ valR.typeLien.faIcon }}"></i>
                                                            </a>
                                                        </div>

                                                    </div>


                                                </li>
                                            {% elseif val.zones.type[keyR] == "devoir" %}
                                                <!--
                                                        DEVOIR
                                                -->
                                                <li data-idZone="{{ val.zones.containers[keyR].id }}"
                                                    class="courseElem devoir">
                                                    <div class="">
                                                        <div class="row">
                                                            <div class="itemNom col-xs-9">
                                                                {{ val.zones.content[keyR].devoir.nom }}
                                                            </div>
                                                            <div class="col-xs-3 text-right">
                                                                <div class="btn btn-sm btn-info">Télécharger</div>
                                                            </div>
                                                        </div>

                                                        <div class="itemDescription">
                                                            {{ val.zones.content[keyR].devoir.description | raw }}
                                                        </div>
                                                    </div>

                                                    {% if val.zones.content[keyR].copie %}
                                                    <div>
                                                        <div class="itemInfos">
                                                            Copie
                                                        </div>
                                                        <div class="itemInfos alignR">
                                                            <div class="btn btn-sm btn-info">Télécharger</div>
                                                            <div class="itemDescription">
                                                                Auteur : <a href="">{{ val.zones.content[keyR].copie.auteur.firstname }} {{ val.zones.content[keyR].copie.auteur.lastname }} <i class="fa fa fa-user"></i></a>
                                                            </div>
                                                            <div class="itemDescription">
                                                                Rendu le : {{ val.zones.content[keyR].copie.dateRendu|date('Y-m-d') }}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    {% endif %}
                                                    {% if val.zones.content[keyR].corrige %}
                                                        <div>
                                                            <div class="itemInfos">Corrigé</div>
                                                            <div class="itemInfos alignR">
                                                                <div class="btn btn-sm btn-info">Télécharger</div>
                                                                <div class="itemDescription">
                                                                    Auteur : <a href="">{{ val.zones.content[keyR].corrige.auteur.firstname }} {{ val.zones.content[keyR].corrige.auteur.lastname }} <i class="fa fa fa-user"></i></a>
                                                                </div>
                                                                <div class="itemDescription">
                                                                    Rendu le : {{ val.zones.content[keyR].corrige.dateRendu|date('Y-m-d') }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}

                                                </li>
                                            {% elseif val.zones.type[keyR] == "groupe" %}
                                                <!--
                                                        GROUPE
                                                -->
                                                <li data-idZone="{{ val.zones.containers[keyR].id }}"
                                                    class="courseElem groupsRessource">
                                                    <div class="row">
                                                        <div class="itemNom col-lg-5">{{ val.zones.groupe[keyR].nom }}</div>
                                                        <div class="col-lg-7 text-right">
                                                        {% for keyG,valG in val.zones.content[keyR] %}
                                                            <a class="btnLienGroupeRessource btn btn-xs"
                                                               style="background-color: {{ valG.categorieLien.couleur }};"
                                                               href="{{ valG.lien.url }}">
                                                                <i class="fa {{ valG.lien.typeLien.faIcon }} fa-2x"></i>
                                                                {{ valG.nom }}
                                                            </a>
                                                        {%  endfor %}
                                                        </div>
                                                    </div>
                                                </li>
                                            {% elseif val.zones.type[keyR] == "libre" %}
                                                <!--
                                                        LIBRE
                                                -->
                                                <li data-idZone="{{ val.zones.containers[keyR].id }}"
                                                    class="courseElem freeRessource">
                                                    <div class="">{{ val.zones.content[keyR].description | raw }}</div>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                        <hr class="mt-10 mb-10" />
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}