{% extends 'base.html.twig' %}

{% block main %}
    <script src="{{ asset('js/jquery-ui-1.10.3.custom.min.js') }}" type=text/javascript></script>
    <script src="{{ asset('js/courseAdmin.js') }}" type=text/javascript></script>

    <div class="page-header">
        <div class="container">
            <h1>Détail des cours</h1>
            <ul class="breadcrumb">
                <li><a href=".">Accueil</a></li>
                <li class="active">Détail des cours</li>
            </ul>
        </div>
    </div>

    <a href="{{ path('fos_user_security_login') }}">Vue étudiant</a>

    <div class="container mt-20">
        <div class="row">
            <div class="col-sm-4">
                <div class="course-intro">
                    <img src="{{ asset('images/') }}{{ cours.imgFilePath }}" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="course-full">
                    <h2 class="heading">{{ cours.nom }}</h2>
                    <div class="personal">
                        <div>
                            <span>Enseignant</span>
                            <span>M. prof de math <a href="teacher-profile.html"><i class="fa fa fa-user"></i> </a></span>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="editor">
                        {{ cours.accueil }}
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row mt-60 mb-100">
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked pull-left" role="tablist" style="padding-bottom: 5px;padding-top: 5px">
                    {% for key,val in zonesSections %}
                        <li role="presentation" {% if loop.index == 1 %} class="active" {% endif %}>
                            <a href="#t1body{{ val.section.id }}" aria-controls="t1body{{ val.section.id }}" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-pencil fa-fw" aria-hidden="true"> </i>{{ val.section.nom }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="tab-content">
                    {% for key,val in zonesSections %}
                        <div role="tabpanel" class="tab-pane fade{% if loop.index == 1 %} in active {% endif %}" id="t1body{{ val.section.id }}">
                            <div class="editor">
                                <ul class="list-default courseElems">
                                    {% for keyR,valR in val.zones.content %}
                                        {% if val.zones.type[keyR] == "lien" %}
                                            <li class="courseElemAdmin lienAdmin col-md-12">
                                                <div class="titleBar col-md-12">{{ valR.nom }}</div>
                                                <div class="btnActionCol col-md-1">
                                                    <ul>
                                                        <li><i class="fa fa-check-square"></i></li>
                                                        <li><i class="fa fa-pencil "></i></li>
                                                        <li><i class="btnMoveElem fa fa-arrows-alt "></i></li>
                                                    </ul>
                                                </div>
                                                <div class="formCol col-md-10">

                                                </div>
                                                <div class="btnCloseCol col-md-1">
                                                    <div class="btnDeleteElem"><i class="fa fa-close"></i></div>
                                                </div>
                                            </li>
                                        {% elseif val.zones.type[keyR] == "devoir" %}
                                            <li class="courseElemAdmin col-md-12">
                                                <table>
                                                    <tr>
                                                        <td></td>
                                                        <td>Fichier</td>
                                                        <td>date de dépôt</td>
                                                        <td>Auteur</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Devoir</td>
                                                        <td>{{ val.zones.content[keyR].devoir.nom }}</td>
                                                        <td>{{ val.zones.content[keyR].devoir.dateDebut|date('Y-m-d') }}</td>
                                                    </tr>
                                                    {% if val.zones.content[keyR].copie %}
                                                        <tr>
                                                            <td>Copie</td>
                                                            <td></td>

                                                            <td>{{ val.zones.content[keyR].copie.dateRendu|date('Y-m-d') }}</td>
                                                            <td>{{ val.zones.content[keyR].copie.auteur.firstname }} {{ val.zones.content[keyR].copie.auteur.lastname }}</td>
                                                        </tr>
                                                    {% endif %}
                                                    {% if val.zones.content[keyR].corrige %}
                                                        <tr>
                                                            <td>Corrigé</td>
                                                            <td>{{ val.zones.content[keyR].corrige.dateRendu|date('Y-m-d') }}</td>
                                                            <td>{{ val.zones.content[keyR].corrige.auteur.firstname }} {{ val.zones.content[keyR].corrige.auteur.lastname }}</td>
                                                        </tr>
                                                    {% endif %}
                                                </table>

                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}