{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div class="page-header forceRelative">
        <div class="container">
            {% if template == 'studit' %}
                <h2 class="color3">Bienvenue sur la plateforme de STUDIT</h2>
                <ul class="breadcrumb">
                    <li class="color3">Bibliothèque de ressources pédagogiques</li>
                </ul>
            {% elseif template == 'afadec' %}
                <h2 class="color3">Bienvenue sur la plateforme de l'AFADEC</h2>
                <ul class="breadcrumb">
                    <li class="color3">Association pour la Formation A Distance de l'Enseignement Catholique</li>
                </ul>
            {% endif %}
        </div>
        {% if template == 'afadec' %}
        <a class="devenirEnseignant" href="https://jedeviensenseignant.fr" target="_blank">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i> Devenir Enseignant
        </a>
        {% endif %}
    </div>
{% endblock %}

{% block main %}
    <script>
        var chrono;
        jQuery(document).ready(function () {
            $('.startIframe').click(function(){
                $(this).hide();
                $('.startIframe2Start').show().click();
            });
        });
    </script>

    <div class="container mb-60 mt-20">
        <div class="row mt-20">

            {% if not app.user %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            {% endif %}

            <div class="
                    {% if app.user %}
                        {% if template == "excellencePro" %}
                        col-md-12 col-lg-12 col-xl-12
                        {% else %}
                        col-md-5 col-lg-6 col-xl-8
                        {% endif %}
                    {% else %}
                        col-md-8 col-md-pull-4
                    {% endif %}
                ">
                {% if template == 'studit' %}
                    <img src="{{ asset('educomp/images/logoSTUDIT.png') }}" alt="">
                {% elseif template == 'afadec' %}

                    <!--<h4 class="heading pt-20 text-center mb-0">Une entrée dans la nouvelle année <span
                                class="color2">dans l’Espérance…</span>
                    </h4>-->

                    {# Noël 2020
                    <img style="max-width: 100%;" src="{{ asset('images/accueil/essai1.gif') }}" />#}

                    <h4 class="heading pt-20 text-center mb-0">DÉCOUVREZ L’AFADEC <span
                                class="color2">EN 2 MINUTES</span>
                    </h4>
                    <iframe class="" width="100%" height="430" frameborder="0" allowfullscreen=""
                            mozallowfullscreen="" webkitallowfullscreen=""
                            src="https://player.vimeo.com/video/537039524"></iframe>
                    {#<a class="freeAccessBtn" style="max-width: 95%; display: inline-block" href="{{ path('myCourses') }}">
                        <img style="max-width: 100%;" src="{{ asset('images/accueil/corona-afadec.png?v2') }}" />
                    </a>#}


                    {#<img class="startIframe" style="max-width: 100%;" src="{{ asset('images/accueil/powtoon.jpg') }}" />
                    <iframe class="startIframe2Start" style="display: none;" width="100%" height="430" src="https://www.powtoon.com/embed/d3I1BMFqOc6/" frameborder="0"></iframe>
                    <iframe class="startIframe2Start" style="display: none;" width="100%" height="430" src="https://www.powtoon.com/embed/f1Ik8q0F1dK/" frameborder="0"></iframe>#}
                {% elseif template == "excellencePro" %}
                    <video controls poster="{{ asset('images/accueil/excellencePro.jpg') }}" style="width: 100%">
                        <source src="{{ asset('images/accueil/generique_excellence.mp4') }}" type="video/mp4">
                        <img style="max-width: 100%;" src="{{ asset('images/accueil/excellencePro.jpg') }}"/>
                    </video>

                {% endif %}
            </div>
            {% if template == "afadec" %}
                {% if app.user %}
                    <div class="col-md-7 col-lg-6 col-xl-4">
                        {% include "calendrier/calendrierWidget.html.twig" %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
        {% if template == "afadec" %}
            {#
            <div class="row mt-40">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="row bgcolor3 pt-20">
                            <div class="col-sm-12">
                                <figcaption>
                                    <h4 class="img-title">Testez <span class="color2">nos modules</span></h4>
                                </figcaption>
                            </div>


                            <div class="col-sm-3">
                                <figure class="effect-sadie">
                                    <a target="_blank"
                                       href="http://www.afadec.fr/dataAfadec/1er_degre/maths_remediation3_NDiaye_2013_capt-html/index.html">
                                        <img src="{{ asset('images/accueil/maths_lesPuissances.png') }}"
                                             class="img-responsive" alt="Mathématiques CRPE Remédiation">
                                        <figcaption>
                                            <h6 class="img-title">Mathématiques CRPE Remédiation - <span class="color2">Les puissances</span>
                                            </h6>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                            <div class="col-sm-3">
                                <figure class="effect-sadie">
                                    <a target="_blank"
                                       href="http://www.afadec.fr/dataAfadec/1er_degre/Francais_Fiche_AccordParticipe_LeBellego_2013_op/co/Fiche1D_LeBellegoSansProdEleve_web.html">
                                        <img src="{{ asset('images/accueil/fra_accord_partPass.png') }}"
                                             class="img-responsive" alt="Français CRPE Remédiation">
                                        <figcaption>
                                            <h6 class="img-title">Français CRPE Remédiation - <span class="color2">L’accord du participe passé</span>
                                            </h6>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                            <div class="col-sm-3">
                                <figure class="effect-sadie">
                                    <a target="_blank"
                                       href="http://www.afadec.fr/dataAfadec/2d_degre/SVT_cor_biol_ESTIENNE_2013_wbm/index.html">
                                        <img src="{{ asset('images/accueil/svt_corrBio.png') }}"
                                             class="img-responsive wp-post-image" alt="SVT CAFEP Corrigé">
                                        <figcaption>
                                            <h6 class="img-title">SVT CAFEP Corrigé de sujet format concours en <span
                                                        class="color2">biologie</span></h6>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>
                            <div class="col-sm-3">
                                <figure class="effect-sadie">
                                    <a target="_blank"
                                       href="http://www.afadec.fr/dataAfadec/2d_degre/anglais_fiche_VoixPassive_Webster_2013_op/co/Voix_Passive_web.html">
                                        <img src="{{ asset('images/accueil/anglaisGrammVoixPassive.png') }}"
                                             class="img-responsive wp-post-image" alt="Anglais CAFEP Grammaire">
                                        <figcaption>
                                            <h6 class="img-title">Anglais CAFEP Grammaire de traduction - <span
                                                        class="color2">Voix passive</span></h6>
                                        </figcaption>
                                    </a>
                                </figure>
                            </div>

                        </div>
                    </div>
                </div>
            </div>#}

            {% include 'pagesFixes/afadecContent.html.twig' %}
            {% elseif template == "excellencePro" %}

            <div class="row mt-20">
                <div class="col-sm-12">
                    <h4 class="heading">Mentions Légales</h4>

                    <p>L'AFADEC (Association de la Formation A Distance de l'Enseignement Catholique) administre
                        cette plateforme, dont l'objectif est de vous proposer une formation à l'orientation et la voie professionnelle.</p>

                    <p>Les informations recueillies (nom, prénom, discipline, adresse mail, numéro de téléphone,
                        établissement) sont nécessaires pour votre inscription.</p>

                    <p>Elles font l'objet d'un traitement informatique et sont destinées au secrétariat de
                        l'association.</p>

                    <p>En application des articles 39 et suivants de la loi du 6 janvier 1978 modifiée, vous
                        bénéficiez d'un droit d'accès et de rectification aux informations qui vous concernent.</p>

                    <p>Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant,
                        veuillez vous adresser à : <a
                                href="mailTo:contact.afadec@gmail.com">contact.AFADEC@gmail.com</a>
                    </p>
                </div>
            </div>

            <!-- Parallax Version 1.4.2 -->
            <script src="{{ asset('educomp/js/parallax.js') }}" type="text/javascript"></script>

            <script src="{{ asset('educomp/js/jquery.validate.min.js') }}" type="text/javascript"></script>
        {% endif %}
    </div>
    {% if template == "afadec" %}
        {% if app.user %}
            {% include "calendrier/calendrierPopup.html.twig" %}
        {% endif %}
    {% endif %}
{% endblock %}