{% extends 'base.html.twig' %}

{% block pageHeader %}
    <div>{{ template }}</div>
    <div class="page-header littleScroll">
        <div class="container">
            <h2 class="color3">Statistiques</h2>
        </div>
    </div>
{% endblock %}

{% block main %}
    <script>
        jQuery(document).ready(function () {

            var logins = {{ logins|json_encode|raw }};
            var formatedLogins = [];
            for (var item in logins) {
                formatedLogins.push({x: item, y: logins[item]});
            }

            var coursAcces = {{ coursAcces|json_encode|raw }};
            var formatedCoursAcces = [];
            for (item in coursAcces) {
                formatedCoursAcces.push({x: item, y: coursAcces[item]});
            }

            var ressourcesAcces = {{ ressourceAcces|json_encode|raw }};
            var formatedRessourcesAcces = [];
            for (item in ressourcesAcces) {
                formatedRessourcesAcces.push({x: item, y: ressourcesAcces[item]});
            }

            if($('#chart2build').length){
                var timeFormat = 'DD/MM';

                var config = {
                    type:    'line',
                    data:    {
                        datasets: [
                            {
                                label: "Logins",
                                data: formatedLogins,
                                fill: false,
                                borderColor: 'red'
                            },
                            {
                                label: "Accès à un cours",
                                data: formatedCoursAcces,
                                fill: false,
                                borderColor: 'blue'
                            }
                            ,
                            {
                                label: "Accès à une ressource",
                                data: formatedRessourcesAcces,
                                fill: false,
                                borderColor: 'green'
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        title:      {
                            display: true,
                            text:    "Fréquentation du site par des utilisateurs (non admin)."
                        },
                        scales:     {
                            xAxes: [{
                                type:       "time",
                                time:       {
                                    format: timeFormat,
                                    tooltipFormat: 'll'
                                },
                                scaleLabel: {
                                    display:     true,
                                    labelString: 'Date'
                                },
                                ticks: {
                                    source: 'data'
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display:     true,
                                    labelString: 'Quantité'
                                }
                            }]
                        }
                    }
                };

                var ctx = document.getElementById("chart2build").getContext("2d");
                window.myLine = new Chart(ctx, config);
            }

        });
    </script>

    <div class="container mt-220 mb-40">
        <div class="row">
            <script src="{{ asset('vendors/chart.js/dist/Chart.bundle.js') }}"
                    type="text/javascript"></script>
            <canvas id="chart2build"></canvas>
        </div>
    </div>
{% endblock %}